@import 'src/app/app.component.scss';

a {
  text-decoration: none;

  span {
    color: hsl(0, 0%, 0%);
    font-size: x-large;
  }
}

:host ::ng-deep {
  .p-menubar {
    background: #2E5C6E;
    border: none;
    border-radius: 0;

    .p-menubar-root-list .p-menuitem .p-menuitem-link {
      .p-menuitem-text {
        color: #FFFFFB;
        font-size: larger;
        font-weight: bold;

        &:hover {
          color: #FFFFFB;
        }
      }

      &:hover {
        background: #356d86;
        color: #FFFFFB;
      }

      &:not(.p-disabled):hover .p-menuitem-text {
        color: #FFFFFB;
      }
    }
  }
}
