<div class="flex justify-content-center">
  <div class="col-10 md:col-10 lg:col-10">
    <p-card>
      <h2>報價</h2>
      <div class="flex justify-content-end">
        <span class="p-buttonset">
          <p-button (click)="showDialog('add')" icon="pi pi-plus" styleClass="p-button-text"
                    pTooltip="新增報價" tooltipPosition="top"></p-button>
        </span>
      </div>
      <p-table [rowsPerPageOptions]="[10, 15]" [value]="GetAllQuote" [paginator]="true"
               [rows]="10000" [totalRecords]="totalRecords" [lazy]="true" (onLazyLoad)="loadPostsLazy($event)"
               [showCurrentPageReport]="true" [(first)]="first" #dt1 [loading]="loading"
               currentPageReportTemplate="共 {totalRecords} 筆">
        <ng-template pTemplate="caption">
          <div class="flex">
            <div class="flex align-items-center ml-2">
              <span class="text-400 pi pi-circle-fill mr-1"></span>
              <span>{{status[0].name}}</span>
              <span class="text-red-300 pi pi-circle-fill mr-1 ml-2"></span>
              <span>{{status[1].name}}</span>
              <span class="text-blue-300 pi pi-circle-fill mr-1 ml-2"></span>
              <span>{{status[2].name}}</span>
              <span class="text-orange-300 pi pi-circle-fill mr-1 ml-2"></span>
              <span>{{status[3].name}}</span>
              <span class="text-yellow-300 pi pi-circle-fill mr-1 ml-2"></span>
              <span>{{status[4].name}}</span>
              <span class="text-green-300 pi pi-circle-fill mr-1 ml-2"></span>
              <span>{{status[5].name}}</span>
            </div>
            <span class="p-input-icon-left ml-auto">
               <td><input [(ngModel)]="search" pInputText type="text" (input)="applyFilterGlobal($event, 'contains')"
                          placeholder="關鍵字搜索"></td>
            </span>
          </div>
        </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th pSortableColumn="status">狀態
              <p-sortIcon field="status"></p-sortIcon>
            </th>
            <th pSortableColumn="name">名稱
              <p-sortIcon field="name"></p-sortIcon>
            </th>
            <th pSortableColumn="opportunity_name">商機名稱
              <p-sortIcon field="opportunity_name"></p-sortIcon>
            </th>
            <th pSortableColumn="is_syncing">正在同步化
              <p-sortIcon field="is_syncing"></p-sortIcon>
            </th>
            <th pSortableColumn="expiration_date">到期日期
              <p-sortIcon field="expiration_date"></p-sortIcon>
            </th>
            <th pSortableColumn="subtotal">小計<p-sortIcon field="subtotal"></p-sortIcon></th>
            <th pSortableColumn="total_price">總計<p-sortIcon field="total_price"></p-sortIcon></th>
            <th></th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-quote>
          <tr>
            <td><span pTooltip={{quote.status}} tooltipPosition="top" [ngClass]="{
                'text-400': quote.status === status[0].name,
                'text-red-300': quote.status === status[1].name,
                'text-blue-300': quote.status === status[2].name,
                'text-orange-300': quote.status === status[3].name,
                'text-yellow-300': quote.status === status[4].name,
                'text-green-300': quote.status === status[5].name
            }" class="pi pi-circle-fill ml-2"></span>
            </td>
            <td>{{ quote.name }}</td>
            <td>{{ quote.opportunity_name }}</td>
            <td>{{ quote.is_syncing }}</td>
            <td>{{ quote.expiration_date }}</td>
            <td>{{ quote.sub_total }}</td>
            <td>{{ quote.grand_total }}</td>
            <td>
              <div class="flex justify-content-end">
                <p-button icon="pi pi-eye" pTooltip="檢視" tooltipPosition="top"
                          [routerLink]="['/main/quote/view/', quote.quote_id]"
                          styleClass="p-button-rounded p-button-secondary p-button-text"></p-button>
                <p-button (click)="showDialog('edit',quote)" icon="pi pi-pencil" pTooltip="編輯" tooltipPosition="top"
                          styleClass="p-button-rounded p-button-secondary p-button-text"></p-button>
                <p-button icon="pi pi-trash" styleClass="p-button-rounded p-button-secondary p-button-text"
                          pTooltip="刪除"
                          (click)="deleteQuoteRequest(quote.quote_id)" tooltipPosition="top"></p-button>
              </div>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </p-card>
  </div>
</div>
<form [formGroup]="quote_form">
  <p-dialog [(visible)]="edit" header={{dialogHeader}} [modal]="true">
    <div class="grid">
      <div class="col-12 md:col-6 lg:col-6" *ngIf="showedit">
        <div class="field">
          <label>編號</label>
          <br>
          <label class="mt-2 ml-2 disable">{{(quote_form.controls['code'].value)}}</label>
        </div>
      </div>
      <div class="col-12 md:col-6 lg:col-6" *ngIf="!showedit">
        <div class="field">
          <label>狀態</label>
          <br>
          <label class="mt-2 ml-2" [textContent]="quote_form.controls['status'].value"></label>
        </div>
      </div>
      <div class="col-12 md:col-6 lg:col-6" *ngIf="showedit">
        <div class="field">
          <label>狀態</label>
          <p-dropdown placeholder="請選擇" [disabled]="true" appendTo="body" [options]="status" formControlName="status"
                      optionLabel="name" (onChange)="onStatusChange($event)" [(ngModel)]="selectedStatus"></p-dropdown>
        </div>
      </div>
      <div class="col-12 md:col-12 lg:col-12">
        <div class="field">
          <label><span class="required-star">*</span>名稱</label>
          <input pInputText formControlName="name"
                 [ngClass]="{'ng-dirty':quote_form.controls['name'].hasError('required') && quote_form.controls['name'].touched}">
        </div>
      </div>
      <div class="col-12 md:col-6 lg:col-6">
        <div class="field">
          <label><span class="required-star">*</span>商機</label>
          <p-dropdown placeholder="搜尋商機" [options]="GetAllOpportunity" [formControlName]="'opportunity_id'"
                      [(ngModel)]="selectedOpportunity_id"
                      [filter]="true" filterBy="label" [showClear]="true" (ngModelChange)="selectedOpportunity()"
                      [ngClass]="{'ng-dirty':quote_form.controls['opportunity_id'].hasError('required') && quote_form.controls['opportunity_id'].touched}"></p-dropdown>
        </div>
      </div>
      <div class="col-12 md:col-6 lg:col-6" *ngIf="showedit">
        <div class="field">
          <label>同步到商機</label>
          <br>
          <p-checkbox formControlName="is_syncing" value="is_syncing" [binary]="true" (click)="showAlertCormfirm()"></p-checkbox>
        </div>
      </div>
      <div class="col-12 md:col-6 lg:col-6">
        <div class="field">
          <label>到期日期</label>
          <p-calendar [appendTo]="'body'" dateFormat="yy-mm-dd" [showButtonBar]="true" formControlName="expiration_date"
                      [readonlyInput]="true"></p-calendar>
        </div>
      </div>
      <div class="col-12 md:col-6 lg:col-6">
        <div class="field">
          <label>小計</label>
          <br>
          <label class="mt-2 ml-2">NT$ {{quote_form.controls['sub_total'].value}}</label>
          <!--<p-inputNumber  formControlName="subtotal" mode="currency" currency="USD" locale="en-US" [minFractionDigits]="2"> </p-inputNumber>-->
        </div>
      </div>
      <div class="col-12 md:col-6 lg:col-6">
        <div class="field">
          <label>稅額</label>
          <br>
          <p-inputNumber class="w-full" formControlName="tax" mode="currency" currency="TWD" locale="en-US"
                         [minFractionDigits]="0" [min]="0"></p-inputNumber>
        </div>
      </div>
      <div class="col-12 md:col-6 lg:col-6">
        <div class="field">
          <label>折扣(四捨五入)</label>
          <br>
          <label class="mt-2 ml-2">NT$ {{quote_form.controls['discount'].value}}</label>
        </div>
      </div>
      <div class="col-12 md:col-6 lg:col-6">
        <div class="field">
          <label>運費及其他費用</label>
          <br>
          <p-inputNumber class="w-full" formControlName="shipping_and_handling" mode="currency" currency="TWD" locale="en-US"
                         [minFractionDigits]="0" [min]="0"></p-inputNumber>
        </div>
      </div>
      <div class="col-12 md:col-6 lg:col-6">
        <div class="field">
          <label>總計</label>
          <br>
          <!-- <input type="number" class="form-control" formControlName="total_price" [value]="getNumber(quote_form.controls['total_price'].value)" /> -->
          <label class="mt-2 ml-2">NT$ {{quote_form.controls['grand_total'].value}}</label>
        </div>
      </div>
      <div class="col-12 md:col-12 lg:col-12">
        <div class="field">
          <label>描述</label>
          <textarea [rows]="5" pInputTextarea formControlName="description"></textarea>
        </div>
      </div>
      <div class="col-12 md:col-6 lg:col-6">
        <label>建立者：</label>
        <br>
        <div class="mt-3 field">
          <label class="disable">{{(quote_form.controls['created_by'].value)}}</label>
          <label class="ml-2 disable">{{(quote_form.controls['created_at'].value)}}</label>
        </div>
      </div>
      <div class="col-12 md:col-6 lg:col-6">
        <label>上次修改者：</label>
        <br>
        <div class="mt-3 field">
          <label class="disable">{{(quote_form.controls['updated_by'].value)}}</label>
          <label class="ml-2 disable">{{(quote_form.controls['updated_at'].value)}}</label>
        </div>
      </div>
    </div>
    <div class="flex justify-content-end">
      <p-button label="取消" (click)="showAlertCancel()" styleClass="p-button-secondary mr-2"></p-button>
      <ng-container *ngIf="!showedit">
        <p-button label="新增" (click)="postQuoteRequest()" styleClass="p-button-info"></p-button>
      </ng-container>
      <ng-container *ngIf="showedit">
        <p-button label="儲存" (click)="patchQuoteRequest(q_id)"
                  styleClass="p-button-info"></p-button>
      </ng-container>
    </div>
  </p-dialog>
</form>
