<div class="flex justify-content-center">
  <div class="col-10">
    <p-card>
      <h2>報價</h2>
      <div class="flex justify-content-end">
        <span class="p-buttonset">
          <p-button (click)="showDialog('add')" icon="pi pi-plus" styleClass="p-button-text"></p-button>
        </span>
      </div>
      <p-table [rowsPerPageOptions]="[5, 10, 15]" [value]="filteredQuotes" [paginator]="true" [rows]="5" [totalRecords]="100" [currentPageReportTemplate]="'Showing {first} to {last} of {totalRecords} entries'">
        <ng-template pTemplate="caption">
          <div class="flex">
            <span class="p-input-icon-left ml-auto">
              <td><input type="text" [(ngModel)]="filterText" (input)="filterquotes()" pInputText
                  placeholder="輸入關鍵字"></td>
            </span>
          </div>
        </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th pSortableColumn="name">名稱<p-sortIcon field="name"></p-sortIcon></th>
            <th pSortableColumn="opportunity_name">商機名稱<p-sortIcon field="opportunity_name"></p-sortIcon></th>
            <th pSortableColumn="syncing">正在同步化<p-sortIcon field="syncing"></p-sortIcon></th>
            <th pSortableColumn="expiration_date">到期日期<p-sortIcon field="expiration_date"></p-sortIcon></th>
            <th pSortableColumn="subtotal">小計<p-sortIcon field="subtotal"></p-sortIcon></th>
            <th pSortableColumn="total_price">總價<p-sortIcon field="total_price"></p-sortIcon></th>
            <th></th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-quote>
          <tr>
            <td>{{ quote.name }}</td>
            <td>{{ quote.opportunity_name }}</td>
            <td>{{ quote.syncing }}</td>
            <td>{{ quote.expiration_date }}</td>
            <td>{{ quote.subtotal }}</td>
            <td>{{ quote.total_price }}</td>
            <td class="icon-align-right"><p-button icon="pi pi-eye" pTooltip="檢視" tooltipPosition="top"
                styleClass="p-button-rounded p-button-secondary p-button-text"></p-button>
              <p-button (click)="showDialog('edit',quote)" icon="pi pi-pencil" pTooltip="編輯" tooltipPosition="top"
                styleClass="p-button-rounded p-button-secondary p-button-text"></p-button>
              <p-button icon="pi pi-trash" styleClass="p-button-rounded p-button-secondary p-button-text" pTooltip="刪除" tooltipPosition="top"></p-button>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </p-card>
  </div>
</div>
<form [formGroup]="quote_form">
  <p-dialog [(visible)]="edit" header={{dialogHeader}} [modal]="true">
    <div class="grid">
      <div class="col-6">
        <div class="field">
          <label>編號</label>
          <br>
          <label class="mt-2 ml-2 disable">{{(quote_form.controls['number'].value)}}</label>
        </div>
      </div>
      <div class="col-6">
        <div class="field">
          <label><span class="required-star">*</span>名稱</label>
          <input pInputText formControlName="name"
            [ngClass]="{'ng-dirty':quote_form.controls['name'].hasError && quote_form.controls['name'].touched}">
        </div>
      </div>
      <div class="col-6">
        <div class="field">
          <label>商機名稱</label>
          <br>
          <label class="mt-2 ml-2 disable">{{(quote_form.controls['opportunity_name'].value)}}</label>
        </div>
      </div>
      <div class="col-6">
        <div class="field">
          <label>客戶(個人or法人)</label>
          <br>
          <label class="mt-2 ml-2 disable">{{(quote_form.controls['account_name'].value)}}</label>
        </div>
      </div>
      <div class="col-6">
        <div class="field">
          <label>報價金額同步到商機</label>
          <br>
          <p-checkbox formControlName="syncing" value="syncing" [binary]="true"></p-checkbox>
        </div>
      </div>
      <div class="col-6" *ngIf="!showedit">
        <div class="field">
          <label>狀態</label>
          <br>
          <label class="mt-2 ml-2" [textContent]="quote_form.controls['status'].value"></label>
        </div>
      </div>
      <div class="col-6" *ngIf="showedit">
        <div class="field">
          <label>狀態</label>
          <p-dropdown placeholder="請選擇" [disabled]="true" appendTo="body" [options]="status" formControlName="status"
            optionLabel="name" (onChange)="onStatusChange($event)" [(ngModel)]="selectedStatus"></p-dropdown>
        </div>
      </div>
      <div class="col-12">
        <div class="field">
          <label>產品描述</label>
          <textarea [rows]="5" pInputTextarea formControlName="describe"></textarea>
        </div>
      </div>
      <div class="col-6">
        <div class="field">
          <label>到期日期</label>
          <p-calendar [appendTo]="'body'" dateFormat="yy-mm-dd" [showButtonBar]="true" formControlName="expiration_date"
            [readonlyInput]="true"></p-calendar>
        </div>
      </div>
      <div class="col-6">
        <div class="field">
          <label>小計</label>
          <br>
          <label class="mt-2 ml-2">{{quote_form.controls['subtotal'].value}}</label>
          <!--<p-inputNumber  formControlName="subtotal" mode="currency" currency="USD" locale="en-US" [minFractionDigits]="2"> </p-inputNumber>-->
        </div>
      </div>
      <div class="col-6">
        <div class="field">
          <label>稅額</label>
          <br>
          <p-inputNumber class="w-full" formControlName="tax" mode="currency" currency="USD" locale="en-US"
            [minFractionDigits]="2"> </p-inputNumber>
        </div>
      </div>
      <div class="col-6">
        <div class="field">
          <label>折扣</label>
          <br>
          <label class="mt-2 ml-2">{{quote_form.controls['discount'].value}}</label>
        </div>
      </div>
      <div class="col-6">
        <div class="field">
          <label>運輸處理</label>
          <br>
          <p-inputNumber class="w-full" formControlName="shipping_and_handling" suffix="%"
            [minFractionDigits]="2"></p-inputNumber>
        </div>
      </div>
      <div class="col-6">
        <div class="field">
          <label>總計</label>
          <br>
          <label class="mt-2 ml-2">{{quote_form.controls['total_price'].value}}</label>
        </div>
      </div>
      <div class="col-6">
        <label>建立者：</label>
        <br>
        <div class="mt-3 field">
          <label class="disable">{{(quote_form.controls['created_by'].value)}}</label>
          <label class="ml-2 disable">{{(quote_form.controls['created_at'].value)}}</label>
        </div>
      </div>
      <div class="col-6">
        <label>上次修改者：</label>
        <br>
        <div class="mt-3 field">
          <label class="disable">{{(quote_form.controls['updated_by'].value)}}</label>
          <label class="ml-2 disable">{{(quote_form.controls['updated_at'].value)}}</label>
        </div>
      </div>
    </div>
    <ng-template pTemplate="footer">
      <p-button label="儲存" styleClass="p-button-outlined p-button-info"></p-button>
      <p-button label="取消" (click)="edit=false" styleClass="p-button-secondary ml-1"></p-button>
    </ng-template>
  </p-dialog>
</form>
