@import 'src/app/app.component.scss';
.required-star {
  color: red;
}
input[formControlName="number"] {
  border: none;
  color: black;
}
input[formControlName="created_by"] {
  border: none;
  color: black;
  margin-left: -9px;
}

input[formControlName="updated_by"] {
  border: none;
  color: black;
  margin-left: -9px;
}

input[formControlName="created_at"] {
  border: none;
  color: black;
  margin-left: -9px;
}

input[formControlName="updated_at"] {
  border: none;
  color: black;
  margin-left: -9px;
}
input[formControlName="opportunity_name"] {
  border: none;
  color: black;
}
input[formControlName="account_name"] {
  border: none;
  color: black;
}
p-inputNumber-input[formControlName="subtotal"] {
  border: none ;
  color: black;
}
p-inputnumber[formControlName="discount"] {
  border: none ;
  color: black;
}
p-inputnumber[formControlName="total_price"] {
  border: none;
  color: black;
}
:host ::ng-deep {
  p-inputnumber{
    input{
      width: 100%!important;
      border: none!important;
    }
  }
}

