@import 'src/app/app.component.scss';
:host ::ng-deep  .fc.fc-theme-standard .fc-toolbar .fc-button{
  font-family: "Verdana", sans-serif;
};
::ng-deep .fc-toolbar-title {
  font-family: "Verdana", sans-serif;
  font-size: 24px;
  color: #444b5b;
}
.reddot {
  height: 10px;
  width: 10px;
  background-color: red;
  border-radius: 50%;
  display: inline-block;
  margin-right: 5px;
}
.orangedot {
  height: 10px;
  width: 10px;
  background-color: orange;
  border-radius: 50%;
  display: inline-block;
  margin-right: 5px;
}
.yellowdot {
  height: 10px;
  width: 10px;
  background-color: burlywood;
  border-radius: 50%;
  display: inline-block;
  margin-right: 5px;
}
.greendot {
  height: 10px;
  width: 10px;
  background-color: green;
  border-radius: 50%;
  display: inline-block;
  margin-right: 5px;
}
.bluedot {
  height: 10px;
  width: 10px;
  background-color: deepskyblue;
  border-radius: 50%;
  display: inline-block;
  margin-right: 5px;
}
.cornflowerbluedot {
  height: 10px;
  width: 10px;
  background-color: cornflowerblue;
  border-radius: 50%;
  display: inline-block;
  margin-right: 5px;
}
.purpledot {
  height: 10px;
  width: 10px;
  background-color: plum;
  border-radius: 50%;
  display: inline-block;
  margin-right: 5px;
}
.pinkdot {
  height: 10px;
  width: 10px;
  background-color: hotpink;
  border-radius: 50%;
  display: inline-block;
  margin-right: 5px;
}
