@import 'src/app/app.component.scss';

:host ::ng-deep {

  .fc-toolbar-title {
    font-family: "Verdana", sans-serif;
    font-size: 24px;
    color: #104673;
    position: relative;
    display: inline-flex;
  }

  .fc .fc-toolbar.fc-header-toolbar {
    margin-bottom: 3.5rem;
    align-items: center;
    display: flex;
    justify-content: space-between;
  }

  .fc.fc-theme-standard .fc-toolbar {
    .fc-button {
      font-family: "Verdana", sans-serif;
      background: #104673;
      border: 0;
      color: #FFFFFB;
      cursor: pointer;
      outline: 0;

      &.fc-dayGridMonth-button.fc-button-active,
      &.fc-timeGridWeek-button.fc-button-active,
      &.fc-timeGridDay-button.fc-button-active {
        background: #104673;
        opacity: 0.6;
        border: none;
        box-shadow: 0 0 0 0;
      }

      &:hover {
        border: 0;
        background: #104673;
        color: #FFFFFB;
      }
    }

    .fc-next-button,
    .fc-prev-button {
      background: 0;
      color: #104673;
      border: none;
      position: relative;
      display: inline-flex;

      &:hover {
        background-color: #ddd;
        color: #333;
        border: none;
        box-shadow: none;
      }
    }
  }

  .fc-toolbar-chunk {
    div {
      display: inline-flex;
      align-items: center;
      text-align: center;
    }
  }
}

.reddot {
  height: 10px;
  width: 10px;
  background-color: red;
  border-radius: 50%;
  display: inline-block;
  margin-right: 5px;
}

.orangedot {
  height: 10px;
  width: 10px;
  background-color: orange;
  border-radius: 50%;
  display: inline-block;
  margin-right: 5px;
}

.yellowdot {
  height: 10px;
  width: 10px;
  background-color: burlywood;
  border-radius: 50%;
  display: inline-block;
  margin-right: 5px;
}

.greendot {
  height: 10px;
  width: 10px;
  background-color: green;
  border-radius: 50%;
  display: inline-block;
  margin-right: 5px;
}

.bluedot {
  height: 10px;
  width: 10px;
  background-color: deepskyblue;
  border-radius: 50%;
  display: inline-block;
  margin-right: 5px;
}

.cornflowerbluedot {
  height: 10px;
  width: 10px;
  background-color: cornflowerblue;
  border-radius: 50%;
  display: inline-block;
  margin-right: 5px;
}

.purpledot {
  height: 10px;
  width: 10px;
  background-color: plum;
  border-radius: 50%;
  display: inline-block;
  margin-right: 5px;
}

.pinkdot {
  height: 10px;
  width: 10px;
  background-color: pink;
  border-radius: 50%;
  display: inline-block;
  margin-right: 5px;
}

.dot-group {
  position: relative;
  top: -91%;
  left: 51%;
  transform: translate(-50%, 40%);
}
