<div class="grid mt-2">
  <div class="col-12 md:col-12 lg:col-3">
    <div class="mb-3">
      <p-card>
        <form [formGroup]="campaign_form">
          <h3>{{name}}</h3>
          <p-divider></p-divider>
          <span class="p-buttonset flex justify-content-center">
            <p-button pTooltip="刪除" tooltipPosition="top" icon="pi pi-trash"
                      styleClass="p-button-rounded p-button-secondary p-button-outlined border-round-left-lg"></p-button>
            <p-button pTooltip="複製" tooltipPosition="top" icon="pi pi-copy"
                      styleClass="p-button-rounded p-button-secondary p-button-outlined border-round-right-lg"></p-button>
          </span>
          <div class="grid mt-2">
            <div class="col-12 flex justify-content-center">
              <label>類型: </label>
              <label>{{stage}}</label>
            </div>
            <div class="col-12 flex justify-content-center">
              <label>狀態: </label>
              <label>{{campaign_form.controls['type'].value.name}}</label>
            </div>
            <div class="col-12 flex justify-content-center">
              <label>開始日期: </label>
              <label>{{GetOneStartDate}}</label>
            </div>
            <div class="col-12 flex justify-content-center">
              <label>結束日期: </label>
              <label>{{GetOneEndDate}}</label>
            </div>
          </div>
        </form>
      </p-card>
    </div>
  </div>
  <div class="col-12 md:col-12 lg:col-6">
    <div class="mb-3">
      <p-card>
 <span class="flex justify-content-center">
       <button class="flex justify-content-center" [ngClass]="{
                'surface-400': stage === '策劃中',
                'bg-blue-300': stage === '進行中',
                'bg-green-300': stage === '已完成',
                'bg-red-300': stage === '已中止'
            }">
          <span class="span" *ngIf="stage==='策劃中'">策劃中</span>
          <i class="pi pi-check"
             *ngIf="stage==='進行中'||stage==='已完成'||stage==='已中止'"></i>
       </button>
        <button class="flex justify-content-center" [ngClass]="{
                'has-check':stage === '策劃中',
                'bg-blue-300': stage === '進行中',
                'bg-green-300': stage === '已完成',
                'bg-red-300': stage === '已中止'
            }">
          <span class="span" *ngIf="stage==='策劃中'||stage==='進行中'">進行中</span>
          <i class="pi pi-check" *ngIf="stage==='已完成'||stage==='已中止'"></i>
        </button>
        <button class="flex justify-content-center" [ngClass]="{
                'has-check':stage === '策劃中'||stage === '進行中',
                'bg-green-300': stage === '已完成',
                'bg-red-300': stage === '已中止'
            }">
          <span class="span"
                *ngIf="stage==='策劃中'||stage==='進行中'||stage==='已完成'">已完成</span>
          <i class="pi pi-check" *ngIf="stage==='已中止'"></i>
        </button>
           <button class="flex justify-content-center" [ngClass]="{
                'has-check': stage === '策劃中'||stage === '進行中'||stage === '已完成',
                'bg-red-300': stage === '已中止'}">
            <span class="span">已中止</span>
        </button>
      </span>
      </p-card>
    </div>
    <div>
      <p-card>
        <form [formGroup]="campaign_form">
          <p-tabView>
            <p-tabPanel header="相關">
              <div class="mt-3">
                <div class="flex justify-content-between">
                  <div class="justify-content-start mt-2">
                    <label>目標</label>
                  </div>
                  <div class="justify-content-end">
                    <p-button label="新增線索" (click)="addLead()"
                              styleClass="p-button-outlined p-button-info"></p-button>
                    <p-button label="新增聯絡人" class="ml-1" (click)="addContact()"
                              styleClass="p-button-outlined p-button-info"></p-button>
                  </div>
                </div>
                <div class="card flex justify-content-center">
                  <div class="chart-container">
                    <p-chart type="doughnut" [data]="data" [options]="options"></p-chart>
                    <div class="chart-center">
                      <h2>總數</h2>
                      <div class="total">{{ getTotal() }}</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="mt-2">
                <p-table [value]="campaign_opportunity">
                  <ng-template pTemplate="caption">
                    <div class="flex justify-content-between">
                      <div class="justify-content-start mt-2">
                        <label>受影響的商機</label>
                      </div>
                    </div>
                  </ng-template>
                  <ng-template pTemplate="header">
                    <tr>
                      <th>商機名稱</th>
                      <th>帳戶</th>
                      <th>金額</th>
                    </tr>
                  </ng-template>
                  <ng-template pTemplate="body" let-campaign_opportunity>
                    <tr>
                      <td>{{ campaign_opportunity.name }}</td>
                      <td>{{ campaign_opportunity.account_name }}</td>
                      <td>{{ campaign_opportunity.amount }}</td>
                    </tr>
                  </ng-template>
                </p-table>
              </div>
              <div class="mt-2">
                <p-table [value]="comfirmstatustable">
                  <ng-template pTemplate="caption">
                    <div class="flex justify-content-between">
                      <div class="justify-content-start mt-2">
                        <label>目標</label>
                      </div>
                      <div class="justify-content-end">
                        <p-button label="更改狀態" (click)="addComfirm()"
                                  styleClass="p-button-outlined p-button-info"></p-button>
                      </div>
                    </div>
                  </ng-template>
                  <ng-template pTemplate="header">
                    <tr>
                      <th style="width: 4rem">
                        <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                      </th>
                      <th>類型</th>
                      <th>狀態</th>
                      <th>名稱</th>
                      <th>職稱</th>
                      <th>帳戶</th>
                    </tr>
                  </ng-template>
                  <ng-template pTemplate="body" let-comfirmstatustable>
                    <tr>
                      <td>
                        <p-tableCheckbox [value]="comfirmstatustable"></p-tableCheckbox>
                      </td>
                      <td>{{ comfirmstatustable.type }}</td>
                      <td>{{ comfirmstatustable.status }}</td>
                      <td>{{ comfirmstatustable.name }}</td>
                      <td>{{ comfirmstatustable.title }}</td>
                      <td>{{ comfirmstatustable.account_name }}</td>
                    </tr>
                  </ng-template>
                </p-table>
              </div>
            </p-tabPanel>
            <p-tabPanel header="詳細資料">
              <div class="grid">
                <div class="col-12 md:col-6 lg:col-6">
                  <div class="field">
                    <label><span class="required-star">*</span>活動名稱</label>
                    <input type="text" pInputText formControlName="name"
                           [ngClass]="{'ng-dirty':campaign_form.controls['name'].hasError('required') && campaign_form.controls['name'].touched}">
                  </div>
                </div>
                <div class="col-12 md:col-6 lg:col-6">
                  <div class="field">
                    <label>業務員</label>
                    <br>
                    <label class="mt-2 ml-2 disable">{{(campaign_form.controls['salesperson_name'].value)}}</label>
                  </div>
                </div>
                <div class="col-12 md:col-6 lg:col-6">
                  <div class="field">
                    <label>狀態</label>
                    <p-dropdown placeholder="請選擇" [disabled]="true" appendTo="body" [options]="status"
                                formControlName="status"
                                optionLabel="name" (onChange)="onStatusChange($event)"></p-dropdown>
                  </div>
                </div>
                <div class="col-12 md:col-6 lg:col-6">
                  <div class="field">
                    <label>啟用</label>
                    <br>
                    <p-checkbox formControlName="is_enable" value="is_enable" [binary]="true"></p-checkbox>
                  </div>
                </div>
                <div class="col-12 md:col-6 lg:col-6">
                  <div class="field">
                    <label>父系行銷活動</label>
                    <p-dropdown placeholder="請選擇" [disabled]="true" appendTo="body" [options]="GetAllparent_campaign"
                                [(ngModel)]="selectedParent_id" [filter]="true" filterBy="label" [showClear]="true"
                                formControlName="parent_campaign_id"></p-dropdown>
                    <div class="required-star"
                         *ngIf="campaign_form.controls['parent_campaign_id'].hasError('Parent_idError')">
                      無法選取同樣的行銷活動到父系行銷活動中
                    </div>
                  </div>
                </div>
                <div class="col-12 md:col-6 lg:col-6">
                  <div class="field">
                    <label>類型</label>
                    <p-dropdown placeholder="請選擇" [disabled]="true" appendTo="body" [options]="type"
                                formControlName="type"
                                optionLabel="name" (onChange)="ontypeChange($event)"></p-dropdown>
                  </div>
                </div>
                <div class="col-12 md:col-6 lg:col-6">
                  <div class="field">
                    <label>開始日期</label>
                    <p-calendar #startDate [appendTo]="'body'" dateFormat="yy-mm-dd" [showButtonBar]="true"
                                formControlName="start_date" [readonlyInput]="true"></p-calendar>
                  </div>
                </div>
                <div class="col-12 md:col-6 lg:col-6">
                  <div class="field">
                    <label>結束日期</label>
                    <p-calendar #endDate [appendTo]="'body'" dateFormat="yy-mm-dd" [showButtonBar]="true"
                                formControlName="end_date" [minDate]="startDate.value"
                                [readonlyInput]="true"></p-calendar>
                    <div class="required-star" *ngIf="campaign_form.controls['end_date'].hasError('incorrect')">
                      結束日期不可早於開始日期
                    </div>
                  </div>
                </div>
                <div class="col-12 md:col-12 lg:col-12">
                  <div class="field">
                    <label>描述</label>
                    <textarea rows="5" pInputTextarea formControlName="description"></textarea>
                  </div>
                </div>
                <div class="col-12 md:col-6 lg:col-6">
                  <div class="field">
                    <label>已傳送數目</label>
                    <p-inputNumber class="w-full" formControlName="sent" [min]="0">
                    </p-inputNumber>
                  </div>
                </div>
                <div class="col-12 md:col-6 lg:col-6">
                  <div class="field">
                    <label>預算成本</label>
                    <p-inputNumber class="w-full" mode="currency" currency="TWD" formControlName="budget_cost"
                                   [minFractionDigits]="0"
                                   [min]="0"></p-inputNumber>
                  </div>
                </div>
                <div class="col-12 md:col-6 lg:col-6">
                  <div class="field">
                    <label>預期回應 (%)</label>
                    <br>
                    <p-inputNumber class="w-full" inputId="percent" formControlName="expected_responses" suffix="%"
                                   [min]="0" [max]="100">
                    </p-inputNumber>
                  </div>
                </div>
                <div class="col-12 md:col-6 lg:col-6">
                  <div class="field">
                    <label>實際成本</label>
                    <p-inputNumber class="w-full" mode="currency" currency="TWD" formControlName="actual_cost"
                                   [minFractionDigits]="0"
                                   [min]="0"></p-inputNumber>
                  </div>
                </div>
                <div class="col-12 md:col-6 lg:col-6">
                  <div class="field">
                    <label>預期收入</label>
                    <p-inputNumber class="w-full" mode="currency" currency="TWD" formControlName="expected_income"
                                   [minFractionDigits]="0"
                                   [min]="0"></p-inputNumber>
                  </div>
                </div>
                <div class="col-12 md:col-6 lg:col-6"></div>
                <div class="col-12 md:col-6 lg:col-6">
                  <label>建立者：</label>
                  <br>
                  <div class="mt-3 field">
                    <label class="disable">{{(campaign_form.controls['created_by'].value)}}</label>
                    <label class="ml-2 disable">{{(campaign_form.controls['created_at'].value)}}</label>
                  </div>
                </div>
                <div class="col-12 md:col-6 lg:col-6">
                  <label>上次修改者：</label>
                  <br>
                  <div class="mt-3 field">
                    <label class="disable">{{(campaign_form.controls['updated_by'].value)}}</label>
                    <label class="ml-2 disable">{{(campaign_form.controls['updated_at'].value)}}</label>
                  </div>
                </div>
              </div>
              <div class="flex justify-content-end" *ngIf="stage!=='已中止'">
                <p-button label="取消" (click)="showAlertCancel()" styleClass="p-button-secondary mr-2"></p-button>
                <p-button label="儲存" (click)="patchCampaignRequest(c_id)"
                          styleClass="p-button-info"></p-button>
              </div>
            </p-tabPanel>
          </p-tabView>
        </form>
      </p-card>

    </div>
  </div>

  <div class="col-12 md:col-12 lg:col-3">
    <p-card>
      <h3>活動</h3>
      <p-divider></p-divider>
      <h3>(待完成)</h3>
    </p-card>
  </div>
</div>

<!--新增商機dialog-->
<p-dialog [(visible)]="addlead" header=將線索新增至行銷活動 [modal]="true">
  <p-table [value]="GetAlllead">
    <ng-template pTemplate="header">
      <tr>
        <th style="width: 4rem">
          <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
        </th>
        <th pSortableColumn="account_name">帳戶
          <p-sortIcon field="account_name"></p-sortIcon>
        </th>
        <th pSortableColumn="status">狀態
          <p-sortIcon field="status"></p-sortIcon>
        </th>
        <th pSortableColumn="description">描述
          <p-sortIcon field="description"></p-sortIcon>
        </th>
        <th pSortableColumn="salesperson_name">業務員
          <p-sortIcon field="salesperson_name"></p-sortIcon>
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-campaign_lead>
      <tr>
        <td>
          <p-tableCheckbox [value]="campaign_lead"></p-tableCheckbox>
        </td>
        <td>{{ campaign_lead.account_name }}</td>
        <td>{{ campaign_lead.status }}</td>
        <td>{{ campaign_lead.description }}</td>
        <td>{{ campaign_lead.salesperson_name }}</td>
      </tr>
    </ng-template>
    <ng-template pTemplate="summary">
      <div class="flex justify-content-end">
        <p-button label="取消" (click)="addlead=false" styleClass="p-button-secondary"></p-button>
        <p-button label="下一步" (click)="addComfirm()" styleClass="p-button-info ml-1"></p-button>
      </div>
    </ng-template>
  </p-table>
</p-dialog>

<!--新增聯絡人dialog-->
<p-dialog [(visible)]="addcontact" header=將聯絡人新增至行銷活動 [modal]="true">
  <p-table [value]="GetAllContact">
    <ng-template pTemplate="header">
      <tr>
        <th style="width: 4rem">
          <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
        </th>
        <th pSortableColumn="name">名稱
          <p-sortIcon field="name"></p-sortIcon>
        </th>
        <th pSortableColumn="account_name">帳戶
          <p-sortIcon field="account_name"></p-sortIcon>
        </th>
        <th pSortableColumn="phone_number">行動電話
          <p-sortIcon field="phone_number"></p-sortIcon>
        </th>
        <th pSortableColumn="email">電子郵件
          <p-sortIcon field="email"></p-sortIcon>
        </th>
        <th pSortableColumn="salesperson_name">業務員
          <p-sortIcon field="salesperson_name"></p-sortIcon>
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-campaign_contact>
      <tr>
        <td>
          <p-tableCheckbox [value]="campaign_contact"></p-tableCheckbox>
        </td>
        <td>{{ campaign_contact.name }}</td>
        <td>{{ campaign_contact.account_name }}</td>
        <td>{{ campaign_contact.phone_number }}</td>
        <td>{{ campaign_contact.email }}</td>
        <td>{{ campaign_contact.salesperson_name }}</td>
      </tr>
    </ng-template>
    <ng-template pTemplate="summary">
      <div class="flex justify-content-end">
        <p-button label="取消" (click)="addlead=false" styleClass="p-button-secondary"></p-button>
        <p-button label="下一步" (click)="addComfirm()" styleClass="p-button-info ml-1"></p-button>
      </div>
    </ng-template>
  </p-table>
</p-dialog>

<!--新增確認新增dialog-->
<p-dialog [(visible)]="addcomfirm" header=新增至行銷活動 [modal]="true">
  <label><span class="required-star">*</span>成員狀態</label>
  <div class="col-12 md:col-12 lg:col-12">
    <div class="field">
      <p-dropdown placeholder="請選擇" appendTo="body" [options]="comfirmstatus" [editable]="true"
                  optionLabel="name"></p-dropdown>
    </div>
  </div>
  <div class="flex justify-content-end">
    <p-button label="取消" (click)="addcomfirm=false" styleClass="p-button-secondary"></p-button>
    <p-button label="確認更改" styleClass="p-button-info ml-1"></p-button>
  </div>
</p-dialog>
