<div class="flex justify-content-center">
  <div class="col-10">
    <p-card>
      <h2>聯絡人</h2>
      <div class="flex justify-content-end">
        <span class="p-buttonset">
          <p-button (click)="showDialog('add')" pTooltip="新增聯絡人" tooltipPosition="top" icon="pi pi-plus"
                    styleClass="p-button-text"></p-button>
        </span>
      </div>
      <p-table [value]="contact">
        <ng-template pTemplate="header">
          <tr>
            <th>姓名</th>
            <th>帳戶</th>
            <th>行動電話</th>
            <th>電子郵件</th>
            <th>業務員</th>
            <th></th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-contact>
          <tr>
            <td>{{ contact.name }}</td>
            <td>{{ contact.account_name }}</td>
            <td>{{ contact.cell_phone }}</td>
            <td>{{ contact.email }}</td>
            <td>{{ contact.owner }}</td>
            <td>
              <div class="flex justify-content-end">
                <p-button icon="pi pi-eye" routerLink="/main/contact/view" pTooltip="檢視" tooltipPosition="top"
                          styleClass="p-button-rounded p-button-secondary p-button-text"></p-button>
                <p-button (click)="showDialog('edit',contact)" icon="pi pi-pencil" pTooltip="編輯" tooltipPosition="top"
                          styleClass="p-button-rounded p-button-secondary p-button-text"></p-button>
                <p-button icon="pi pi-trash" pTooltip="刪除" tooltipPosition="top"
                          styleClass="p-button-rounded p-button-secondary p-button-text"></p-button>
              </div>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </p-card>
  </div>
</div>
<form [formGroup]="contact_form">
  <p-dialog [(visible)]="edit" header={{dialogHeader}}>
    <div class="grid">
      <div class="col-6">
        <div class="field">
          <label>帳戶</label>
          <input pInputText formControlName="account_name">
        </div>
      </div>
      <div class="col-6">
        <div class="field">
          <label>業務員</label>
          <br>
          <label>{{(contact_form.controls['owner'].value)}}</label>
        </div>
      </div>
      <div class="col-6">
        <div class="field">
          <label>姓名</label>
          <input pInputText formControlName="name">
        </div>
      </div>
      <div class="col-6">
        <div class="field">
          <label>稱謂</label>
          <p-dropdown placeholder="請選擇" [disabled]="true" [options]="salutation" optionLabel="name"
                      (onChange)="salutationValue($event)"
                      formControlName="salutation" appendTo="body"></p-dropdown>
        </div>
      </div>
      <div class="col-6">
        <div class="field">
          <label>行動電話</label>
          <input pInputText formControlName="cell_phone">
        </div>
      </div>
      <div class="col-6">
        <div class="field">
          <label>公司電話</label>
          <input pInputText formControlName="phone_number">
        </div>
      </div>
      <div class="col-12">
        <div class="field">
          <label>電子郵件</label>
          <input pInputText formControlName="email">
        </div>
      </div>
      <div class="col-6">
        <div class="field">
          <label>職稱</label>
          <input pInputText formControlName="title">
        </div>
      </div>
      <div class="col-6">
        <div class="field">
          <label>部門</label>
          <input pInputText formControlName="department">
        </div>
      </div>
      <div class="col-6">
        <div class="field">
          <label>直屬上司</label>
          <p-dropdown placeholder="請選擇" [disabled]="true"
                      formControlName="reports_to" appendTo="body"></p-dropdown>
        </div>
      </div>
      <div class="col-6">
      </div>
      <div class="col-6">
        <label>建立者：</label>
        <br>
        <div class="mt-3 field">
          <label>{{(contact_form.controls['created_by'].value)}}</label>
          <br>
          <label>{{(contact_form.controls['created_at'].value)}}</label>
        </div>
      </div>
      <div class="col-6">
        <label>上次修改者：</label>
        <br>
        <div class="mt-3 field">
          <label>{{(contact_form.controls['updated_by'].value)}}</label>
          <br>
          <label>{{(contact_form.controls['updated_at'].value)}}</label>
        </div>
      </div>
    </div>

    <div class="flex justify-content-end mt-3">
      <p-button label="儲存" styleClass="p-button-outlined p-button-info"></p-button>
      <p-button label="取消" (click)="edit=false" styleClass="p-button-secondary ml-1"></p-button>
    </div>
  </p-dialog>
</form>
