@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/******************************************************* all ****************************************************/

.tiles {
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  column-gap: 1rem;
  row-gap: 1rem;
  margin-top: 1.25rem;
  @media (max-width: 700px) {
    grid-template-columns: repeat(1, 1fr);
  }

  &:hover {
    cursor: pointer;
  }
}

.tile {
  padding: 1rem;
  border-radius: 8px;
  background-color: #f4f5f7;
  color: #003C54;
  box-shadow: 3px 3px 3px #CFCFCF;
  display: flex;
  flex-direction: column;
  //justify-content: center;
  align-items: center;
  position: relative;
  transition: 0.25s ease;

  &:hover {
    transform: translateY(-5px);
    cursor: pointer;
    background-color: #EBEFF7;
  }

  &.tile-header {
    justify-content: space-between;
    align-items: center;
  }


  a {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 600;

    .icon-button {
      color: inherit;
      border-color: inherit;

      &:hover,
      &:focus {
        background-color: transparent;

        i {
          transform: none;
        }
      }
    }

    &:focus {
      box-shadow: none;
    }

    &:after {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }
  }
}

.tile-header {
  display: flex;
  align-items: center;

  i {
    font-size: 2.5em;
  }

  h3 {
    display: flex;
    flex-direction: column;
    line-height: 1.375;
    margin-left: 0.5rem;
    font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Helvetica, Arial, sans-serif;
    justify-content: space-between;
    align-items: center;

    span {
      font-size: small;
      font-weight: 200;
      margin-top: 10px;
    }
  }
}

.icon-button {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid #969593;
  color: #f1f1f1;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.25s ease;
  flex-shrink: 0;

  &.large {
    width: 42px;
    height: 42px;
    font-size: 1.25em;
  }

  i {
    transition: 0.25s ease;
  }

  &:hover,
  &:focus {
    background-color: #313131;
    box-shadow: 0 0 0 4px #1f1f1f, 0 0 0 5px #969593;
  }
}

button,
select,
input,
textarea {
  font: inherit;
}

a {
  color: inherit;
}

.count {
  padding-left: 15px;
  width: 19px;
  text-align: center;
  border-radius: 50px;
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-top: 0 !important;
  opacity: 0.9;
  font-weight: 700;
  font-size: larger !important;
  font-family: "Arial Black";

  &.best {
    color: #B88932;
  }

  &.worst {
    color: red;
  }
}

/******************************************************* chart 1 ****************************************************/
.chart1-container {
  position: relative;
  display: inline-flex;
  justify-content: center;
}

.chart1-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -70%);

  h2 {
    color: #212121;
  }

  .total {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 40%);
    font-size: 40px;
    font-family: "Verdana", sans-serif;
    font-weight: bold;
  }
}

/******************************************************* chart 2 ****************************************************/
.chart2-container {
  position: relative;
  display: inline-flex;
  justify-content: center;
}

:host ::ng-deep {
  .chart2 {
    width: 600px;
  }
}

/******************************************************* 待辦事項 ****************************************************/

body {
  background: #1f253d;
}

ul {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}

h1 {
  font-size: 23px;
}

h2 {
  font-size: 17px;
}

a {
  text-decoration: none;
  font-size: 15px;
}

a:hover {
  text-decoration: underline;
}

h1, h2, p {
  color: #fff;
}

.scnd-font-color {
  color: #9099b7;
}

.icon {
  font-size: 25px;
}

.titular {
  display: block;
  line-height: 60px;
  margin: 0;
  text-align: center;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.container {
  float: left;
  width: 300px;
}

.block {
  margin-bottom: 25px;
  background: #f4f5f7;
  border-radius: 20px;
  box-shadow: 3px 3px 3px #CFCFCF;
}

.menu-box {
  height: 360px;
}

.menu-box .titular {
  background: #2E5C6E;
  opacity: 0.85;
}

.menu-box-menu .icon {
  display: inline-block;
  vertical-align: top;
  width: 28px;
  margin-left: 20px;
  margin-right: 15px;
}

.menu-box-number {
  width: 36px;
  line-height: 22px;
  background: #d3d3d3;
  text-align: center;
  border-radius: 15px;
  position: absolute;
  top: 15px;
  right: 15px;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.menu-box-menu li {
  height: 60px;
  position: relative;
}

.menu-box-tab {
  line-height: 60px;
  display: block;
  border-bottom: 1px solid #1f253d;
  -webkit-transition: background .2s;
  transition: background .2s;
}

.menu-box-tab-last {
  line-height: 60px;
  display: block;
  -webkit-transition: background .2s;
  transition: background .2s;
}

.menu-box-tab:hover {
  background: #EBEFF7;
  border-top: 1px solid #1f253d;
  text-decoration: none;
}

.menu-box-tab:hover .menu-box-number {
  background: #FF0020;
  color: #FFFFFB;
}

/******************************************************* calendar ****************************************************/

:host ::ng-deep {
  .p-calendar {
    position: relative;
    display: flex;
    transform: scale(0.7) translate(21%, 0%);
    transform-origin: top left;
  }
}

.calendar-container {
  position: relative;
  display: flex;
  justify-content: center;
  width: 200px;
  height: 330px;
}

.calendar-tile {
  padding: 1rem;
  border-radius: 8px;
  background-color: #f4f5f7;
  color: #003C54;
  box-shadow: 3px 3px 3px #CFCFCF;
  display: flex;
  flex-direction: column;
  //justify-content: center;
  align-items: center;
  position: relative;
  transition: 0.25s ease;

  &:hover {
    transform: translateY(-5px);
    cursor: pointer;
    background-color: #EBEFF7;
  }

  &.tile-header {
    justify-content: space-between;
    align-items: center;
  }


  a {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 600;

    .icon-button {
      color: inherit;
      border-color: inherit;

      &:hover,
      &:focus {
        background-color: transparent;

        i {
          transform: none;
        }
      }
    }

    &:focus {
      box-shadow: none;
    }

    &:after {
      content: "";
      display: block;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }
  }
}











