//primng
p-card {
  margin-top: 10px;
}

//強制更改Primeng預設樣式
:host ::ng-deep {
  .p-card {
    border-radius: 10px; //元素的外邊框圓角 px越大越圓 google
  }

  .p-button {
    border-radius: 6px;
  }

  .p-multiSelect,
  .p-inputtext {
    width: 100%;
    border-radius: 6px;
  }
  .p-inputnumber {
    width: 100%;
    border-radius: 6px;
    // display: none;
  }
  .p-password,
  .p-dropdown {
    width: 100%;
    border-radius: 6px;
    margin-bottom: 5px;
  }

  .p-calendar {
    width: 100%;
  }

  .p-dialog {
    width: 50%;
    border-radius: 10px;

    .p-dialog-header {
      border-top-right-radius: 10px;
      border-top-left-radius: 10px;
    }

    .p-dialog-content:last-of-type {
      border-bottom-right-radius: 10px;
      border-bottom-left-radius: 10px;
    }
  }
  .p-datatable .p-datatable-tbody>tr>td.icon-align-right {
    text-align: right !important;
  }

  p-inputnumber{
    input{
      .disable{
        width: 100%!important;
        border: none!important;
      }
    }
  }
  input{
    .disable{
      border: none;
      color: black;
    }

  }
}

p-checkbox {
  //checkbox元件之間的間距
  margin-left: 10px;
  //框框跟label之間的間距
  margin-right: 5px;
}

p-radioButton {
  //radioButton元件之間的間距
  margin-left: 10px;
  //框框跟label之間的間距
  margin-right: 5px;
}

label {
  margin-right: 15px
}

textarea {
  width: 100%;
}

h1,
h2,
h3 {
  font-family: Verdana;
  text-align: center;
  font-weight: bold;
  //上、右、下、左
  margin: 0 0 10px 0;
}

.text-white{
  color: #FFFFFB;
}

.required-star {
  color: red;
}
