//primng
p-card {
  margin-top: 10px;
}

//強制更改Primeng預設樣式
:host ::ng-deep {
  .p-card {
    border-radius: 10px; //元素的外邊框圓角 px越大越圓 google
  }

  .p-button {
    border-radius: 6px;
  }

  .p-inputtext,
  .p-multiSelect {
    width: 100%;
    border-radius: 6px;
  }

  .p-password,
  .p-dropdown {
    width: 100%;
    border-radius: 6px;
    margin-bottom: 5px;
  }

  .p-calendar {
    width: 100%;
  }

  .p-dialog {
    width: 50%;
    height: 50%;
    border-radius: 10px;

    .p-dialog-header {
      border-top-right-radius: 10px;
      border-top-left-radius: 10px;
    }

    .p-dialog-content:last-of-type {
      border-bottom-right-radius: 10px;
      border-bottom-left-radius: 10px;
    }
  }
}

p-checkbox {
  //checkbox元件之間的間距
  margin-left: 10px;
  //框框跟label之間的間距
  margin-right: 5px;
}

p-radioButton {
  //radioButton元件之間的間距
  margin-left: 10px;
  //框框跟label之間的間距
  margin-right: 5px;
}

label {
  margin-left: 15px;
  margin-right: 15px
}

input {
  width: 100%;
  border-radius: 6px;
}

textarea {
  width: 100%;

}

h3,
h5 {
  text-align: center;
  font-weight: bold;
  //上、右、下、左
  margin: 0 0 10px 0;
}
