<div class="flex justify-content-center">
  <div class="col-10 md:col-10 lg:col-10">
    <p-card>
      <h2>契約</h2>
      <div class="flex justify-content-end">
        <span class="p-buttonset">
          <p-button icon="pi pi-plus" (click)="showDialog('add')" styleClass="p-button-text"
                    pTooltip="新增契約" tooltipPosition="top"></p-button>
        </span>
      </div>
      <p-table [value]="GetAllContract" [paginator]="true" [rows]="1000000" [totalRecords]="totalRecords"
               [rowsPerPageOptions]="[10, 20]" [(first)]="first" #dt1 [loading]="loading"
               [showCurrentPageReport]="true" [lazy]="true" (onLazyLoad)="loadPostsLazy($event)"
               currentPageReportTemplate="共 {totalRecords} 筆">
        <ng-template pTemplate="caption">
          <div class="flex">
            <div class="status flex align-items-center">
              <p-button styleClass="p-button-rounded p-button-text" (click)="toggleStatusFilter(0)"
                        [ngClass]="{'status-focus': status[0].boolean}">
                <span class="text-400 pi pi-circle-fill mr-1"></span>
                <span class="font-bold text-color">{{status[0].name}}</span>
              </p-button>
              <p-button styleClass="p-button-rounded p-button-text" (click)="toggleStatusFilter(1)"
                        [ngClass]="{'status-focus': status[1].boolean}">
                <span class="text-blue-300 pi pi-circle-fill mr-1 ml-2"></span>
                <span class="font-bold text-color">{{status[1].name}}</span>
              </p-button>
              <p-button styleClass="p-button-rounded p-button-text" (click)="toggleStatusFilter(2)"
                        [ngClass]="{'status-focus': status[2].boolean}">
                <span class="text-red-300 pi pi-circle-fill mr-1 ml-2"></span>
                <span class="font-bold text-color">{{status[2].name}}</span>
              </p-button>
              <p-button styleClass="p-button-rounded p-button-text" (click)="toggleStatusFilter(3)"
                        [ngClass]="{'status-focus': status[3].boolean}">
                <span class="text-yellow-300 pi pi-circle-fill mr-1 ml-2"></span>
                <span class="font-bold text-color">{{status[3].name}}</span>
              </p-button>
              <p-button styleClass="p-button-rounded p-button-text" (click)="toggleStatusFilter(4)"
                        [ngClass]="{'status-focus': status[4].boolean}">
                <span class="text-green-300 pi pi-circle-fill mr-1 ml-2"></span>
                <span class="font-bold text-color">{{status[4].name}}</span>
              </p-button>
              <p-button styleClass="p-button-rounded p-button-text" (click)="toggleStatusFilter(5)"
                        [ngClass]="{'status-focus': status[5].boolean}">
                <span class="text-orange-300 pi pi-circle-fill mr-1 ml-2"></span>
                <span class="font-bold text-color">{{status[5].name}}</span>
              </p-button>
              <p-button styleClass="p-button-rounded p-button-text" (click)="toggleStatusFilter(6)"
                        [ngClass]="{'status-focus': status[6].boolean}">
                <span class="text-black-alpha-60 pi pi-circle-fill mr-1 ml-2"></span>
                <span class="font-bold text-color">{{status[6].name}}</span>
              </p-button>
            </div>
            <span class="p-input-icon-left ml-auto">
               <td><input [(ngModel)]="search" pInputText type="text" (input)="applyFilterGlobal($event, 'contains')"
                          placeholder="關鍵字搜索"></td>
            </span>
          </div>
        </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th pSortableColumn="status">狀態
              <p-sortIcon field="status"></p-sortIcon>
            </th>
            <th pSortableColumn="code">號碼
              <p-sortIcon field="code"></p-sortIcon>
            </th>
            <th pSortableColumn="account_id">帳戶
              <p-sortIcon field="account_id"></p-sortIcon>
            </th>
            <th pSortableColumn="start_date">開始日期
              <p-sortIcon field="start_date"></p-sortIcon>
            </th>
            <th pSortableColumn="end_date">到期日期
              <p-sortIcon field="end_date"></p-sortIcon>
            </th>
            <th pSortableColumn="term">有效期限(月)
              <p-sortIcon field="term"></p-sortIcon>
            </th>
            <th></th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-contract>
          <tr>
            <td><span pTooltip={{contract.status}} tooltipPosition="top" [ngClass]="{
                'text-400': contract.status === status[0].name,
                'text-blue-300': contract.status === status[1].name,
                'text-red-300': contract.status === status[2].name,
                'text-yellow-300': contract.status === status[3].name,
                'text-green-300': contract.status === status[4].name,
                'text-orange-300': contract.status === status[5].name,
                'text-black-alpha-60': contract.status === status[6].name
            }" class="pi pi-circle-fill ml-2"></span>
            </td>
            <td>{{ contract.code }}</td>
            <td>{{ contract.account_name }}</td>
            <td>{{ contract.start_date|date:'yyyy-MM-dd' }}</td>
            <td>{{ contract.end_date|date:'yyyy-MM-dd'}}</td>
            <td>{{ contract.term }}</td>
            <td>
              <div class="flex justify-content-end">
                <p-button icon="pi pi-eye" pTooltip="檢視" tooltipPosition="top"
                          styleClass="p-button-rounded p-button-secondary p-button-text"
                          [routerLink]="['/main/contract/view/', contract.contract_id]"></p-button>
                <p-button icon="pi pi-pencil" (click)="showDialog('edit',contract)" pTooltip="編輯"
                          tooltipPosition="top"
                          styleClass="p-button-rounded p-button-secondary p-button-text"></p-button>
                <p-button icon="pi pi-trash" (click)="deleteContractRequest(contract.contract_id)" pTooltip="刪除"
                          tooltipPosition="top"
                          styleClass="p-button-rounded p-button-secondary p-button-text"></p-button>
              </div>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </p-card>
  </div>
</div>
<form [formGroup]="contract_form">
  <p-dialog [(visible)]="edit" header={{dialogHeader}} [modal]="true">
    <div class="grid">
      <div class="col-12 md:col-6 lg:col-6">
        <div class="field">
          <label>業務員</label>
          <br>
          <label class="mt-2 ml-2">{{(contract_form.controls['salesperson_name'].value)}}</label>
        </div>
      </div>
      <div class="col-12 md:col-6 lg:col-6">
        <div class="field">
          <label>號碼</label>
          <br>
          <label class="mt-2 ml-2 disable">{{(contract_form.controls['code'].value)}}</label>
        </div>
      </div>
      <div class="col-12 md:col-6 lg:col-6">
        <div class="field">
          <label><span class="required-star">*</span>商機</label>
          <p-dropdown placeholder="搜尋商機" [options]="GetAllOpportunity" [formControlName]="'opportunity_id'"
                      [filter]="true" filterBy="label" [showClear]="true"
                      [ngClass]="{'ng-dirty':contract_form.controls['opportunity_id'].hasError('required') && contract_form.controls['opportunity_id'].touched}"></p-dropdown>
        </div>
      </div>
      <div class="col-12 md:col-6 lg:col-6">
        <div class="field">
          <label><span class="required-star">*</span>狀態</label>
          <p-dropdown placeholder="請選擇" appendTo="body" [options]="status"
                      formControlName="status" optionLabel="name" (onChange)="onStatusChange($event)" name="status"
                      [ngClass]="{'ng-dirty':contract_form.controls['status'].hasError('required') && contract_form.controls['status'].touched}"></p-dropdown>
        </div>
      </div>
      <div class="col-12 md:col-6 lg:col-6">
        <div class="field">
          <label><span class="required-star">*</span>開始日期</label>
          <p-calendar [appendTo]="'body'" dateFormat="yy-mm-dd" [showButtonBar]="true"
                      formControlName="start_date" [readonlyInput]="true"
                      [ngClass]="{'ng-dirty':contract_form.controls['start_date'].hasError('required') && contract_form.controls['start_date'].touched}"></p-calendar>
        </div>
      </div>
      <div class="col-12 md:col-6 lg:col-6">
        <div class="field">
          <label><span class="required-star">*</span>有效期間(月)</label>
          <input type="number" pInputText formControlName="term"
                 [ngClass]="{'ng-dirty':contract_form.controls['term'].hasError('required') && contract_form.controls['term'].touched}">
        </div>
      </div>
      <!--最大1G-->
      <div class="col-12">
        <div class="field">
          <label>契約檔案上傳處</label>
          <p-toast></p-toast>
          <p-fileUpload name="demo[]" (onUpload)="onUpload($event)" [multiple]="true" [maxFileSize]="1000000000">
            <ng-template pTemplate="content">
              <ul *ngIf="uploadedFiles.length">
                <li *ngFor="let file of uploadedFiles">{{ file.name }} - {{ file.size }} bytes</li>
              </ul>
            </ng-template>
          </p-fileUpload>
        </div>
      </div>
      <div class="col-12">
        <div class="field">
          <label>描述</label>
          <textarea rows="5" pInputTextarea formControlName="description"></textarea>
        </div>
      </div>
      <div class="col-12 md:col-6 lg:col-6">
        <label>建立者：</label>
        <br>
        <div class="mt-3 field">
          <label class="disable">{{(contract_form.controls['created_by'].value)}}</label>
          <label class="ml-2 disable">{{(contract_form.controls['created_at'].value|date:'yyyy-MM-dd HH:mm')}}</label>
        </div>
      </div>
      <div class="col-12 md:col-6 lg:col-6">
        <label>上次修改者：</label>
        <br>
        <div class="mt-3 field">
          <label class="disable">{{(contract_form.controls['updated_by'].value)}}</label>
          <label class="ml-2 disable">{{(contract_form.controls['updated_at'].value|date:'yyyy-MM-dd HH:mm')}}</label>
        </div>
      </div>
    </div>
    <div class="flex justify-content-end">
      <p-button label="取消" (click)="showAlertCancel()" styleClass="p-button-secondary mr-2"></p-button>
      <ng-container *ngIf="!showedit">
        <p-button label="新增" (click)="postContractRequest()" styleClass="p-button-info"></p-button>
      </ng-container>
      <ng-container *ngIf="!disableSaveButton">
        <ng-container *ngIf="showedit">
          <p-button label="儲存" (click)="patchContractRequest(c_id)"
                    styleClass="p-button-info"></p-button>
        </ng-container>
      </ng-container>
    </div>
  </p-dialog>
</form>
