<div class="grid mt-2">
  <div class="col-12 md:col-12 lg:col-3">
    <div class="mb-3">
      <p-card>
        <h3>Gina</h3>
        <p-divider></p-divider>
        <span class="p-buttonset flex justify-content-center">
        <p-button pTooltip="編輯" tooltipPosition="top" icon="pi pi-pencil"
                  styleClass="p-button-rounded p-button-secondary p-button-outlined border-round-left-lg"></p-button>
        <p-button pTooltip="刪除" tooltipPosition="top" icon="pi pi-trash"
                  styleClass="p-button-rounded p-button-secondary p-button-outlined"></p-button>
        <p-button pTooltip="複製" tooltipPosition="top" icon="pi pi-copy"
                  styleClass="p-button-rounded p-button-secondary p-button-outlined border-round-right-lg"></p-button>
      </span>
        <div class="grid mt-2">
          <div class="col-12 flex justify-content-center">
            <label>姓名: </label>
            {{name}}
          </div>
          <div class="col-12 flex justify-content-center">
            <label>職稱: </label>
            {{title}}
          </div>
        </div>
      </p-card>
      <div class="flex justify-content-center mt-3">
        <p-button pTooltip="新增聯絡人" tooltipPosition="top" icon="pi pi-plus"
                  styleClass="p-button-outlined p-button-secondary"></p-button>
      </div>
    </div>
  </div>
  <div class="col-12 md:col-12 lg:col-6">
    <div class="mb-3">
      <p-card>
      <span class="flex justify-content-center">
        <button class="flex justify-content-center" [ngClass]="{
                'surface-400': status_value === '不明確',
                'bg-blue-300': status_value === '新線索',
                'bg-yellow-300': status_value === '評估中',
                'bg-orange-300': status_value === '發展中',
                'bg-green-300': status_value === '已轉換'
            }">
          <span class="span" *ngIf="status_value==='不明確'">不明確</span>
          <i class="pi pi-check"
             *ngIf="status_value==='新線索'||status_value==='評估中'||status_value==='發展中'||status_value==='已轉換'"></i>
       </button>
        <button class="flex justify-content-center" [ngClass]="{
                'has-check':status_value === '不明確',
                'bg-blue-300': status_value === '新線索',
                'bg-yellow-300': status_value === '評估中',
                'bg-orange-300': status_value === '發展中',
                'bg-green-300': status_value === '已轉換'
            }">
          <span class="span" *ngIf="status_value==='不明確'||status_value==='新線索'">新線索</span>
          <i class="pi pi-check" *ngIf="status_value==='評估中'||status_value==='發展中'||status_value==='已轉換'"></i>
        </button>
        <button class="flex justify-content-center" [ngClass]="{
                'has-check':status_value === '不明確'||status_value === '新線索',
                'bg-yellow-300': status_value === '評估中',
                'bg-orange-300': status_value === '發展中',
                'bg-green-300': status_value === '已轉換'
            }">
          <span class="span"
                *ngIf="status_value==='不明確'||status_value==='新線索'||status_value==='評估中'">評估中</span>
          <i class="pi pi-check" *ngIf="status_value==='發展中'||status_value==='已轉換'"></i>
        </button>
        <button class="flex justify-content-center" [ngClass]="{
                'has-check':status_value === '不明確'||status_value === '新線索'||status_value === '評估中',
                'bg-orange-300': status_value === '發展中',
                'bg-green-300': status_value === '已轉換'
            }">
          <span class="span"
                *ngIf="status_value==='不明確'||status_value==='新線索'||status_value==='評估中'||status_value==='發展中'">發展中</span>
          <i class="pi pi-check" *ngIf="status_value==='已轉換'"></i>
        </button>
        <button class="flex justify-content-center" [ngClass]="{
                'has-check': status_value === '不明確'||status_value === '新線索'||status_value === '評估中'||status_value === '發展中',
                'bg-green-300': status_value === '已轉換'
            }">
          <span class="span">已轉換</span>
        </button>
      </span>
      </p-card>
    </div>
    <div>
      <form [formGroup]="lead_form">
        <p-card>
          <div class="flex justify-content-left ml-3 font-bold">
            <label>線索詳細頁面</label>
          </div>
          <p-tabView>
            <p-tabPanel header="詳細資料">
              <!--              <ng-container *ngIf="edit==false">-->

              <!--              </ng-container>-->
              <!--              <ng-container *ngIf="edit==true">-->
              <div class="grid">
                <div class="col-12 md:col-6 lg:col-6">
                  <div class="field">
                    <label><span class="text-red-600">*</span>線索狀態</label>
                    <p-dropdown placeholder="請選擇" optionLabel="name" [options]=which
                                formControlName="status" appendTo="body" (onChange)="statusValue($event)"
                                [ngClass]="{'ng-dirty':lead_form.controls['status'].hasError('required') && lead_form.controls['status'].touched}"
                    ></p-dropdown>
                  </div>
                </div>
                <div class="col-12 md:col-6 lg:col-6 mt-5">
                  <ng-container *ngIf="status_value!=='已轉換'">
                    <p-button pTooltip="轉換" (click)="showDialog()" tooltipPosition="top" icon="pi pi-sync"
                              styleClass="p-button-rounded p-button-secondary p-button-text p-button-lg "></p-button>
                  </ng-container>
                </div>
                <div class="col-12 md:col-6 lg:col-6">
                  <div class="field">
                    <label><span class="text-red-600">*</span>帳戶</label>
                    <p-dropdown [options]="GetAllAccount" (onChange)="accountValue($event)"
                                formControlName="account_name"
                                [filter]="true" appendTo="body" optionLabel="label"
                                filterBy="label" [showClear]="true" placeholder="選擇現有帳戶">
                    </p-dropdown>
                  </div>
                </div>
                <div class="col-12 md:col-6 lg:col-6">
                  <div class="field">
                    <label>業務員</label>
                    <br>
                    <label class="ml-2 disable">{{(lead_form.controls['created_by'].value)}}</label>
                  </div>
                </div>
                <div class="col-12">
                  <div>
                    <label><span class="text-red-600">*</span>描述</label>
                    <textarea class="mt-2" rows="3" pInputTextarea formControlName="description"
                              [ngClass]="{'ng-dirty':lead_form.controls['description'].hasError('required') && lead_form.controls['description'].touched}"></textarea>
                  </div>
                </div>
                <div class="col-12 md:col-6 lg:col-6">
                  <div class="field">
                    <label>分級</label>
                    <p-dropdown placeholder="請選擇" [disabled]="true" [options]="rating" optionLabel="name"
                                (onChange)="ratingValue($event)" formControlName="rating"
                                appendTo="body"></p-dropdown>
                  </div>
                </div>
                <div class="col-12 md:col-6 lg:col-6">
                  <div class="field">
                    <label>線索來源</label>
                    <p-dropdown placeholder="請選擇" [disabled]="true" [options]="source" optionLabel="name"
                                (onChange)="sourceValue($event)" formControlName="source"
                                appendTo="body"></p-dropdown>
                  </div>
                </div>
              </div>
              <div class="grid">
                <div class="col-12 md:col-6 lg:col-6">
                  <label>建立者：</label>
                  <div class="mt-3 field">
                    <label>{{(lead_form.controls['created_by'].value)}}</label>
                    <label>{{(lead_form.controls['created_at'].value|date:'yyyy-MM-dd HH:mm')}}</label>
                  </div>
                </div>
                <div class="col-12 md:col-6 lg:col-6">
                  <label>上次修改者：</label>
                  <div class="mt-3 field">
                    <label>{{(lead_form.controls['updated_by'].value)}}</label>
                    <label>{{(lead_form.controls['updated_at'].value|date:'yyyy-MM-dd HH:mm')}}</label>
                  </div>
                </div>
              </div>
              <div class="flex justify-content-end mt-3">
                <p-button label="取消" (click)="showAlertCancel()" styleClass="p-button-secondary mr-2"></p-button>
                <p-button label="儲存" (click)="patchLead()"
                          styleClass="p-button-info"></p-button>
              </div>
              <!--              </ng-container>-->
            </p-tabPanel>
            <p-tabPanel header="活動">
              <h3>(待完成)</h3>
            </p-tabPanel>
          </p-tabView>
        </p-card>
      </form>
    </div>
  </div>
  <div class="col-12 md:col-12 lg:col-3">
    <p-card>
      <h3>拜訪紀錄</h3>
      <p-divider></p-divider>
      <h3>(待完成)</h3>
    </p-card>
  </div>
</div>
<form [formGroup]="opportunity_form">
  <p-dialog [(visible)]="edit" header="轉換為商機" [modal]="true">
    <div class="grid">
      <div class="col-12 md:col-6 lg:col-6">
        <div class="field">
          <label><span class="text-red-600">*</span>商機名稱</label>
          <input pInputText formControlName="name"
                 [ngClass]="{'ng-dirty':opportunity_form.controls['name'].hasError('required')  && opportunity_form.controls['name'].touched}">
        </div>
      </div>
      <div class="col-12 md:col-6 lg:col-6">
        <div class="field">
          <label><span class="text-red-600">*</span>帳戶</label>
          <p-dropdown [options]="GetAllAccount" (onChange)="accountValue($event)" formControlName="account_name"
                      [filter]="true" appendTo="body" optionLabel="label"
                      filterBy="label" [showClear]="true" placeholder="選擇現有帳戶"
                      [ngClass]="{'ng-dirty':opportunity_form.controls['account_name'].hasError('required') && opportunity_form.controls['account_name'].touched}">
          </p-dropdown>
        </div>
      </div>
      <div class="col-12 md:col-6 lg:col-6">
        <div class="field">
          <label><span class="text-red-600">*</span>階段</label>
          <p-dropdown [disabled]="true" [options]="stage" optionLabel="name"
                      (onChange)="stageValue($event)" formControlName="stage" appendTo="body"
                      [ngClass]="{'ng-dirty':opportunity_form.controls['stage'].hasError('required')  && opportunity_form.controls['stage'].touched}"></p-dropdown>
        </div>
      </div>
      <div class="col-12 md:col-6 lg:col-6">
        <div class="field">
          <label><span class="text-red-600">*</span>預測種類</label>
          <p-dropdown placeholder="請選擇" [disabled]="true" [options]="forecast_category" optionLabel="name"
                      (onChange)="forecast_categoryValue($event)" formControlName="forecast_category"
                      appendTo="body"
                      [ngClass]="{'ng-dirty':opportunity_form.controls['forecast_category'].hasError('required')  && opportunity_form.controls['forecast_category'].touched}"></p-dropdown>
        </div>
      </div>
      <div class="col-12 md:col-6 lg:col-6">
        <div class="field">
          <label><span class="text-red-600">*</span>結束日期</label>
          <p-calendar formControlName="close_date" appendTo="body" dateFormat="yy-mm-dd"
                      [ngClass]="{'ng-dirty':opportunity_form.controls['close_date'].hasError('required')  && opportunity_form.controls['close_date'].touched}"></p-calendar>
        </div>
      </div>
      <div class="col-12 md:col-6 lg:col-6">
        <div class="field">
          <label>金額</label>
          <input pInputText formControlName="amount">
        </div>
      </div>
      <div class="col-12 md:col-6 lg:col-6">
        <div class="field">
          <label>業務員</label>
          <br>
          <label>{{(opportunity_form.controls['created_by'].value)}}</label>
        </div>
      </div>
    </div>
    <div class="flex justify-content-end">
      <p-button label="取消" (click)="showAlertCancel()" styleClass="p-button-secondary mr-2"></p-button>
      <p-button label="轉換" (click)="postOpportunity();edit=false"
                styleClass="p-button-info"></p-button>
    </div>
  </p-dialog>
</form>
