<div class="grid mt-2">
  <div class="col-12 md:col-12 lg:col-3">
    <div class="mb-3">
      <p-card>
        <form [formGroup]="contract_form">
          <h3>{{contract_form.controls['code'].value}}</h3>
          <p-divider></p-divider>
          <span class="p-buttonset flex justify-content-center">
            <p-button pTooltip="刪除" tooltipPosition="top" icon="pi pi-trash"
                      styleClass="p-button-rounded p-button-secondary p-button-outlined border-round-left-lg"></p-button>
            <p-button pTooltip="複製" tooltipPosition="top" icon="pi pi-copy"
                      styleClass="p-button-rounded p-button-secondary p-button-outlined border-round-right-lg"></p-button>
          </span>
          <div class="grid mt-2">
            <div class="col-12 flex justify-content-center">
              <label>帳戶: </label>
              <label>{{contract_form.controls['account_name'].value}}</label>
            </div>
            <div class="col-12 flex justify-content-center">
              <label>狀態: </label>
              <label>{{stage}}</label>
            </div>
            <div class="col-12 flex justify-content-center">
              <label>契約開始日期: </label>
              <label>{{contract_form.controls['start_date'].value}}</label>
            </div>
            <div class="col-12 flex justify-content-center">
              <label>契約結束日期: </label>
              <label>{{contract_form.controls['end_date'].value}}</label>
            </div>
            <div class="col-12 flex justify-content-center">
              <label>有效期限(月): </label>
              <label>{{contract_form.controls['term'].value}}</label>
            </div>
          </div>
        </form>
      </p-card>
    </div>
  </div>
  <div class="col-12 md:col-12 lg:col-6">
    <div class="mb-3">
      <p-card>
 <span class="flex justify-content-center">
       <button class="flex justify-content-center" [ngClass]="{
                'surface-400': stage === '草稿',
                'bg-blue-300': stage === '審批中',
                'bg-red-300': stage === '拒絕',
                'bg-yellow-300': stage === '等待簽名',
                'bg-green-300': stage === '已簽署',
                'bg-orange-300': stage === '已取消',
                'bg-black-alpha-60 text-white': stage === '已過期'
            }">
          <span class="span" *ngIf="stage==='草稿'">草稿</span>
          <i class="pi pi-check"
             *ngIf="stage==='審批中'||stage==='拒絕'||stage==='等待簽名'||stage==='已簽署'||stage==='已取消' ||stage==='已過期'"></i>
       </button>
        <button class="flex justify-content-center" [ngClass]="{
                'has-check':stage === '草稿',
                'bg-blue-300': stage === '審批中',
                'bg-red-300': stage === '拒絕',
                'bg-yellow-300': stage === '等待簽名',
                'bg-green-300': stage === '已簽署',
                'bg-orange-300': stage === '已取消',
                'bg-black-alpha-60 text-white': stage === '已過期'
            }">
          <span class="span" *ngIf="stage==='草稿'||stage==='審批中'">審批中</span>
          <i class="pi pi-check"
             *ngIf="stage==='拒絕'||stage==='等待簽名'||stage==='已簽署'||stage==='已取消' ||stage==='已過期'"></i>
        </button>
        <button class="flex justify-content-center" [ngClass]="{
                'has-check':stage === '草稿'||stage === '審批中',
                'bg-red-300': stage === '拒絕',
                'bg-yellow-300': stage === '等待簽名',
                'bg-green-300': stage === '已簽署',
                'bg-orange-300': stage === '已取消',
                'bg-black-alpha-60 text-white': stage === '已過期'
            }">
          <span class="span"
                *ngIf="stage==='草稿'||stage==='審批中'||stage==='拒絕'">拒絕</span>
          <i class="pi pi-check"
             *ngIf="stage==='等待簽名'||stage==='已簽署'||stage==='已取消' ||stage==='已過期'"></i>
        </button>
        <button class="flex justify-content-center" [ngClass]="{
                'has-check':stage === '草稿'||stage === '審批中'||stage === '拒絕',
                'bg-yellow-300': stage === '等待簽名',
                'bg-green-300': stage === '已簽署',
                'bg-orange-300': stage === '已取消',
                'bg-black-alpha-60 text-white': stage === '已過期'
            }">
          <span class="span"
                *ngIf="stage==='草稿'||stage==='審批中'||stage==='拒絕'||stage==='等待簽名'">等待簽名</span>
          <i class="pi pi-check"
             *ngIf="stage==='已簽署'||stage==='已取消' ||stage==='已過期'"></i>
        </button>
        <button class="flex justify-content-center" [ngClass]="{
                'has-check': stage === '草稿'||stage === '審批中'||stage === '拒絕'||stage === '等待簽名',
                'bg-green-300': stage === '已簽署',
                'bg-orange-300': stage === '已取消',
                'bg-black-alpha-60 text-white': stage === '已過期'
            }">
          <span class="span"
                *ngIf="stage==='草稿'||stage==='審批中'||stage==='拒絕'||stage==='等待簽名'||stage==='已簽署'">已簽署</span>
          <i class="pi pi-check" *ngIf="stage==='已取消' ||stage==='已過期'"></i>
        </button>
           <button class="flex justify-content-center" [ngClass]="{
                'has-check': stage === '草稿'||stage === '審批中'||stage === '拒絕'||stage === '等待簽名'||stage === '已簽署',
                'bg-orange-300': stage === '已取消',
                'bg-black-alpha-60 text-white': stage === '已過期'
            }">
          <span class="span"
                *ngIf="stage==='草稿'||stage==='審批中'||stage==='拒絕'||stage==='等待簽名'||stage==='已簽署' ||stage==='已取消'">已取消</span>
          <i class="pi pi-check" *ngIf="stage==='已過期'"></i>
        </button>
           <button class="flex justify-content-center" [ngClass]="{
                'has-check': stage === '草稿'||stage === '審批中'||stage === '拒絕'||stage === '等待簽名'||stage === '已簽署' ||stage === '已取消',
                'bg-black-alpha-60 text-white': stage === '已過期'}">
            <span class="span">已過期</span>
        </button>
      </span>
      </p-card>
    </div>
    <div>
      <p-card>
        <form [formGroup]="contract_form">
          <div class="flex justify-content-left ml-3 font-bold">
            <label>報價詳細頁面</label>
          </div>
          <p-tabView class="mt-3">
            <p-tabPanel header="詳細">
              <div>
                <p-table [rowsPerPageOptions]="[10, 15]" [value]="GetAllOrder" [totalRecords]="totalRecords">
                  <ng-template pTemplate="caption">
                    <div class="flex justify-content-between">
                      <div class="justify-content-start mt-2">
                        <label>訂單</label>
                      </div>
                      <div class="justify-content-end">
                       <p-button icon="pi pi-plus" pTooltip="新增訂單" tooltipPosition="top" (click)="showDialog('add')"
                        styleClass="p-button-text"></p-button>
                      </div>
                    </div>
                  </ng-template>
                  <ng-template pTemplate="header">
                    <tr>
                      <th>訂單編號</th>
                      <th>狀態</th>
                      <!--<th>訂單金額</th>-->
                      <th>訂單開始日期</th>
                      <th>契約號碼</th>
                      <th></th>
                    </tr>
                  </ng-template>
                  <ng-template pTemplate="body" let-contract_order>
                    <tr>
                      <td>{{ contract_order.code }}</td>
                      <td>{{ contract_order.status }}</td>
                      <!--<td>{{ order.amount }}</td>-->
                      <td>{{ contract_order.start_date }}</td>
                      <td>{{ contract_order.contract_code }}</td>
                      <td>
                        <div class="flex justify-content-end">
                        <p-button icon="pi pi-pencil" pTooltip="編輯" tooltipPosition="top" (click)="showDialog('edit',contract_order)"
                                  styleClass="p-button-rounded p-button-secondary p-button-text"></p-button>
                        <p-button icon="pi pi-trash" styleClass="p-button-rounded p-button-secondary p-button-text" (click)="deleteOrderRequest(contract_order.order_id)"
                                  pTooltip="刪除" tooltipPosition="top"></p-button>
                        </div>
                      </td>
                    </tr>
                  </ng-template>
                </p-table>
              </div>
            </p-tabPanel>
            <p-tabPanel header="編輯">
              <div class="grid">
                <div class="col-12 md:col-6 lg:col-6">
                  <div class="field">
                    <label>業務員</label>
                    <br>
                    <label class="mt-2 ml-2">{{(contract_form.controls['salesperson_name'].value)}}</label>
                  </div>
                </div>
                <div class="col-12 md:col-6 lg:col-6">
                  <div class="field">
                    <label>號碼</label>
                    <br>
                    <label class="mt-2 ml-2 disable">{{(contract_form.controls['code'].value)}}</label>
                  </div>
                </div>
                <div class="col-12 md:col-6 lg:col-6">
                  <div class="field">
                    <label><span class="required-star">*</span>商機</label>
                    <p-dropdown placeholder="搜尋商機" [options]="GetAllOpportunity" [formControlName]="'opportunity_id'"
                                [filter]="true" filterBy="label" [showClear]="true"
                                [ngClass]="{'ng-dirty':contract_form.controls['opportunity_id'].hasError('required') && contract_form.controls['opportunity_id'].touched}"></p-dropdown>
                  </div>
                </div>
                <div class="col-12 md:col-6 lg:col-6">
                  <div class="field">
                    <label><span class="required-star">*</span>狀態</label>
                    <p-dropdown placeholder="請選擇" [disabled]="true" appendTo="body" [options]="status"
                                formControlName="status"
                                optionLabel="name" (onChange)="onStatusChange($event)"
                                [ngClass]="{'ng-dirty':contract_form.controls['status'].hasError('required') && contract_form.controls['status'].touched}"></p-dropdown>
                  </div>
                </div>
                <div class="col-12 md:col-6 lg:col-6">
                  <div class="field">
                    <label><span class="required-star">*</span>開始日期</label>
                    <p-calendar [appendTo]="'body'" dateFormat="yy-mm-dd" [showButtonBar]="true"
                                formControlName="start_date" [readonlyInput]="true"
                                [ngClass]="{'ng-dirty':contract_form.controls['start_date'].hasError('required') && contract_form.controls['start_date'].touched}"></p-calendar>
                  </div>
                </div>
                <div class="col-12 md:col-6 lg:col-6">
                  <div class="field">
                    <label><span class="required-star">*</span>有效期間(月)</label>
                    <input type="number" pInputText formControlName="term"
                           [ngClass]="{'ng-dirty':contract_form.controls['term'].hasError('required') && contract_form.controls['term'].touched}">
                  </div>
                </div>
<!--                最大1G-->
                <div class="col-12">
                  <div class="field">
                  <label>契約檔案上傳處</label>
                  <p-toast></p-toast>
                  <p-fileUpload name="demo[]" (onUpload)="onUpload($event)" [multiple]="true" [maxFileSize]="1000000000">
                    <ng-template pTemplate="content">
                      <ul *ngIf="uploadedFiles.length">
                        <li *ngFor="let file of uploadedFiles">{{ file.name }} - {{ file.size }} bytes</li>
                      </ul>
                    </ng-template>
                  </p-fileUpload>
                  </div>
                </div>
                <div class="col-12">
                  <div class="field">
                    <label>描述</label>
                    <textarea rows="5" pInputTextarea formControlName="description"></textarea>
                  </div>
                </div>
                <div class="col-12 md:col-6 lg:col-6">
                  <label>建立者：</label>
                  <br>
                  <div class="mt-3 field">
                    <label class="disable">{{(contract_form.controls['created_by'].value)}}</label>
                    <label class="ml-2 disable">{{(contract_form.controls['created_at'].value)}}</label>
                  </div>
                </div>
                <div class="col-12 md:col-6 lg:col-6">
                  <label>上次修改者：</label>
                  <br>
                  <div class="mt-3 field">
                    <label class="disable">{{(contract_form.controls['updated_by'].value)}}</label>
                    <label class="ml-2 disable">{{(contract_form.controls['updated_at'].value)}}</label>
                  </div>
                </div>
              </div>
              <ng-container *ngIf="stage !=='已取消' && stage !=='已過期'">
              <div class="flex justify-content-end">
                <p-button label="取消" (click)="showAlertCancel()" styleClass="p-button-secondary mr-2"></p-button>
                <p-button label="儲存" (click)="patchContractRequest()" styleClass="p-button-info"></p-button>
              </div>
              </ng-container>
            </p-tabPanel>
            <p-tabPanel header="歷程記錄">
              <p-table [rowsPerPageOptions]="[5, 10, 15]" (onLazyLoad)="loadTable($event)" [value]="GetContractHistoricalRecords"
                       [totalRecords]="totalHistorical" [showCurrentPageReport]="true" #dt1
                       [paginator]="true" [rows]="5" currentPageReportTemplate="共 {totalRecords} 筆">
                <ng-template pTemplate="caption">
                  <div class="flex justify-content-between">
                    <div class="justify-content-start mt-2">
                      <label>契約歷程記錄</label>
                    </div>
                  </div>
                </ng-template>
                <ng-template pTemplate="header">
                  <tr>
                    <th>修改日期</th>
                    <th>使用者</th>
                    <th>描述</th>
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-contract_log>
                  <tr>
                    <td>{{ contract_log.modified_at }}</td>
                    <td>{{ contract_log.modified_by }}</td>
                    <td>{{ contract_log.description }}</td>
                  </tr>
                </ng-template>
              </p-table>
            </p-tabPanel>
          </p-tabView>
        </form>
      </p-card>

    </div>
  </div>

  <div class="col-12 md:col-12 lg:col-3">
    <p-card>
      <h3>活動</h3>
      <p-divider></p-divider>
      <h3>(待完成)</h3>
    </p-card>
  </div>
</div>

<!--新增訂單-->
<form [formGroup]="order_form">
  <p-dialog [(visible)]="edit" header={{dialogHeader}} [modal]="true">
    <div class="grid">
      <div class="col-12 md:col-6 lg:col-6">
        <div class="field">
          <label>訂單號碼</label>
          <br>
          <label class="mt-2 ml-2 disable">{{(order_form.controls['code'].value)}}</label>
        </div>
      </div>
      <div class="col-12 md:col-6 lg:col-6">
        <div class="field">
          <label><span class="required-star">*</span>訂單開始日期</label>
          <p-calendar [appendTo]="'body'" dateFormat="yy-mm-dd" [showButtonBar]="true" formControlName="start_date"
                      [minDate]="MinDate"
                      [ngClass]="{'ng-dirty':order_form.controls['start_date'].hasError('required') && order_form.controls['start_date'].touched}"></p-calendar>
          <div class="required-star" *ngIf="order_form.controls['start_date'].hasError('required-star')">
            訂單開始日期不可早於契約日期
          </div>
        </div>
      </div>
      <div class="col-12 md:col-6 lg:col-6" *ngIf="!showedit">
        <div class="field">
          <label>狀態</label>
          <br>
          <label class="mt-2 ml-2" [textContent]="order_form.controls['status'].value"></label>
        </div>
      </div>
      <div class="col-12 md:col-6 lg:col-6" *ngIf="showedit">
        <div class="field">
          <label>狀態</label>
          <p-dropdown placeholder="請選擇" [disabled]="true" appendTo="body" [options]="order_status" formControlName="status"
                      name="status" optionLabel="name" (onChange)="onStatusChange($event)"></p-dropdown>
        </div>
      </div>
      <div class="col-12 md:col-6 lg:col-6" *ngIf="showedit">
        <div class="field">
          <label>訂單金額</label>
          <br>
          <label class="mt-2 ml-2" [textContent]="order_form.controls['amount'].value"></label>
        </div>
      </div>
      <div class="col-12 md:col-6 lg:col-6">
        <div class="field">
          <label>啟用：</label>
          <br>
          <ng-container *ngIf="showedit && order_form.controls['status'].value?.name === '啟動中'">
            <label>{{(order_form.controls['activated_by'].value)}}</label>
            <label>{{(order_form.controls['activated_at'].value)}}</label>
          </ng-container>
        </div>
      </div>
      <div class="col-12">
        <div class="field">
          <label>描述</label>
          <textarea [rows]="5" pInputTextarea formControlName="description"></textarea>
        </div>
      </div>
      <div class="col-12 md:col-6 lg:col-6">
        <label>建立者：</label>
        <br>
        <div class="mt-3 field">
          <label class="disable">{{(order_form.controls['created_by'].value)}}</label>
          <label class="ml-2 disable">{{(order_form.controls['created_at'].value)}}</label>
        </div>
      </div>
      <div class="col-12 md:col-6 lg:col-6">
        <label>上次修改者：</label>
        <br>
        <div class="mt-3 field">
          <label class="disable">{{(order_form.controls['updated_by'].value)}}</label>
          <label class="ml-2 disable">{{(order_form.controls['updated_at'].value)}}</label>
        </div>
      </div>
    </div>
    <div class="flex justify-content-end">
      <p-button label="取消" (click)="showAlertCancel()" styleClass="p-button-secondary mr-2"></p-button>
      <ng-container *ngIf="!showedit">
        <p-button label="新增" (click)="postOrderRequest()" styleClass="p-button-info"></p-button>
      </ng-container>
      <ng-container *ngIf="showedit">
        <p-button label="儲存" (click)="patchOrderRequest()"
                  styleClass="p-button-info"></p-button>
      </ng-container>
    </div>
  </p-dialog>
</form>


