<div class="flex justify-content-center">
  <div class="col-10">
    <p-card>
      <h2>商品</h2>
      <div class="flex justify-content-end">
        <span class="p-buttonset">
          <p-button (click)="showDialog('add')" icon="pi pi-plus" styleClass="p-button-text"></p-button>
        </span>
      </div>
      <p-table [value]="product">
        <ng-template pTemplate="header">
          <tr>
            <th pSortableColumn="name">名稱<p-sortIcon field="name"></p-sortIcon></th>
            <th pSortableColumn="code">代碼<p-sortIcon field="code"></p-sortIcon></th>
            <th pSortableColumn="describe">描述<p-sortIcon field="describe"></p-sortIcon></th>
            <!-- <th>系列</th> -->
            <th></th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-product>
          <tr>
            <td>{{ product.name }}</td>
            <td>{{ product.code }}</td>
            <td>{{ product.describe }}</td>
            <!-- <td>{{ product.series }}</td> -->
            <td class="icon-align-right">
              <p-button (click)="showDialog('edit',product)" icon="pi pi-pencil"
                styleClass="p-button-rounded p-button-secondary p-button-text"></p-button>
                <p-button icon="pi pi-trash"
                styleClass="p-button-rounded p-button-secondary p-button-text"></p-button>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </p-card>
  </div>
</div>
<form [formGroup]="product_form">
  <p-dialog [(visible)]="edit" header={{dialogHeader}}>
    <div class="grid">
      <div class="col-6">
        <div class="field">
          <label><span class="required-star">*</span>商品名稱</label>
          <input pInputText formControlName="name"
            [ngClass]="{'ng-dirty':product_form.controls['name'].hasError && product_form.controls['name'].touched}">
        </div>
      </div>
      <div class="col-6">
        <div class="field">
          <label>已啟用</label>
          <br>
          <p-checkbox formControlName="enable" value="enable" [binary]="true"></p-checkbox>
        </div>
      </div>
      <!-- <div class="col-6">
        <div class="field">
          <label>系列</label>
          <p-dropdown placeholder="請選擇" [disabled]="true" optionLabel="name" formControlName="series"
            appendTo="body"></p-dropdown>
        </div>
      </div> -->
      <div class="col-6">
        <div class="field">
          <label>代碼</label>
          <input pInputText formControlName="code">
        </div>
      </div>
      <!-- <div class="col-6">
        <div class="field">
          <label>已啟用</label>
          <br>
          <p-checkbox formControlName="enable" value="enable" [binary]="true"></p-checkbox>
        </div>
      </div> -->
      <div class="col-12">
        <div class="field">
          <label>描述</label>
          <textarea [rows]="5" pInputTextarea formControlName="describe"></textarea>
        </div>
      </div>
      <div class="col-6">
        <label>建立者：</label>
      </div>
      <div class="col-6">
        <label>上次修改者：</label>
      </div>
      <div class="col-1">
        <input pInputText formControlName="created_by">
      </div>
      <div class="col-5">
        <input pInputText formControlName="created_at">
      </div>
      <div class="col-1">
        <input pInputText formControlName="updated_by">
      </div>
      <div class="col-5">
        <input pInputText formControlName="updated_at">
      </div>
    </div>
    <div class="flex justify-content-end">
      <p-button label="儲存" styleClass="p-button-outlined p-button-info"></p-button>
      <p-button label="取消" (click)="edit=false" styleClass="p-button-secondary ml-1"></p-button>
    </div>
  </p-dialog>
</form>
