<div class="flex justify-content-center">
  <div class="col-10">
    <p-card>
      <h2>訂單</h2>
      <div class="flex justify-content-end">
        <span class="p-buttonset">
          <p-button (click)="showDialog('add')" icon="pi pi-plus" styleClass="p-button-text"></p-button>
        </span>
      </div>
      <p-table [rowsPerPageOptions]="[5, 10, 15]" [(first)]="first" [showCurrentPageReport]="true"
               (onLazyLoad)="loadTable($event)"
               [value]="GetAllOrder" [paginator]="true" [rows]="5" [lazy]="true" [totalRecords]="totalRecords"
               currentPageReportTemplate="從 {first} 到 {last} 筆，共 {totalRecords} 筆">
        <ng-template pTemplate="caption">
          <div class="flex">
            <span class="p-input-icon-left ml-auto">
              <td><input type="text" [(ngModel)]="filterText" (input)="filterorders()" pInputText
                         placeholder="輸入關鍵字"></td>
            </span>
          </div>
        </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th pSortableColumn="number">號碼
              <p-sortIcon field="number"></p-sortIcon>
            </th>
            <th pSortableColumn="account_id">帳戶
              <p-sortIcon field="account_id"></p-sortIcon>
            </th>
            <!--            <th pSortableColumn="amount">訂單金額<p-sortIcon field="amount"></p-sortIcon></th>-->
            <th pSortableColumn="start_date">訂單開始日期
              <p-sortIcon field="start_date"></p-sortIcon>
            </th>
            <th pSortableColumn="status">狀態
              <p-sortIcon field="status"></p-sortIcon>
            </th>
            <th pSortableColumn="contract_number">契約號碼
              <p-sortIcon field="contract_number"></p-sortIcon>
            </th>
            <th></th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-order>
          <tr>
            <td>{{ order.code }}</td>
            <td>{{ order.account_name }}</td>
            <!--<td>{{ order.amount }}</td>-->
            <td>{{ order.start_date }}</td>
            <td>{{ order.status }}</td>
            <td>{{ order.contract_code}}</td>
            <td class="icon-align-right">
              <p-button icon="pi pi-eye" styleClass="p-button-rounded p-button-secondary p-button-text"
                        [routerLink]="['/main/order/view/', order.order_id]"></p-button>
              <p-button (click)="showDialog('edit',order)" icon="pi pi-pencil"
                        styleClass="p-button-rounded p-button-secondary p-button-text"></p-button>
              <p-button icon="pi pi-trash" (click)="deleteOrderRequest(order.order_id)"
                        styleClass="p-button-rounded p-button-secondary p-button-text"></p-button>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </p-card>
  </div>
</div>
<form [formGroup]="order_form">
  <p-dialog [(visible)]="edit" header={{dialogHeader}} [modal]="true">
    <div class="grid">
      <div class="col-6">
        <div class="field">
          <label>訂單號碼</label>
          <br>
          <label class="mt-2 ml-2 disable">{{(order_form.controls['code'].value)}}</label>
        </div>
      </div>
      <div class="col-6">
        <div class="field">
          <label><span class="required-star">*</span>契約號碼</label>
          <p-dropdown placeholder="搜尋契約" [disabled]="true" formControlName="contract_id" appendTo="body"
                      [options]="GetAllContract"
                      [(ngModel)]="selectedContract_id" (ngModelChange)="validateStartDate()"
                      [filter]="true" filterBy="label" [showClear]="true"
                      [ngClass]="{'ng-dirty': order_form.controls['contract_id'].hasError && order_form.controls['contract_id'].touched}"
          ></p-dropdown>
        </div>
      </div>
      <div class="col-6">
        <div class="field">
          <label><span class="required-star">*</span>訂單開始日期</label>
          <p-calendar [appendTo]="'body'" dateFormat="yy-mm-dd" [showButtonBar]="true" formControlName="start_date"
                      [minDate]="MinDate"
                      [ngClass]="{'ng-dirty':order_form.controls['start_date'].hasError && order_form.controls['start_date'].touched}"></p-calendar>
          <div class="required-star" *ngIf="order_form.controls['start_date'].hasError('required-star')">
            訂單開始日期不可早於契約日期
          </div>
        </div>
      </div>
      <div class="col-6" *ngIf="!showedit">
        <div class="field">
          <label>狀態</label>
          <br>
          <label class="mt-2 ml-2" [textContent]="order_form.controls['status'].value"></label>
        </div>
      </div>
      <div class="col-6" *ngIf="showedit">
        <div class="field">
          <label>狀態</label>
          <p-dropdown placeholder="請選擇" [disabled]="true" appendTo="body" [options]="status" formControlName="status"
                      name="status" optionLabel="name" (onChange)="onStatusChange($event)"
                      [(ngModel)]="selectedStatus"></p-dropdown>
        </div>
      </div>
      <div class="col-6" *ngIf="showedit">
        <div class="field">
          <label>訂單金額</label>
          <br>
          <label class="mt-2 ml-2" [textContent]="order_form.controls['amount'].value"></label>
        </div>
      </div>
      <div class="col-6">
        <div class="field">
          <label>啟用：</label>
          <br>
          <ng-container *ngIf="showedit && selectedStatusName === '啟動中'">
            <label>{{(order_form.controls['activated_by'].value)}}</label>
            <label>{{(order_form.controls['activated_at'].value)}}</label>
          </ng-container>
        </div>
      </div>
      <div class="col-12">
        <div class="field">
          <label>描述</label>
          <textarea [rows]="5" pInputTextarea formControlName="description"></textarea>
        </div>
      </div>
      <div class="col-6">
        <label>建立者：</label>
        <br>
        <div class="mt-3 field">
          <label class="disable">{{(order_form.controls['created_by'].value)}}</label>
          <label class="ml-2 disable">{{(order_form.controls['created_at'].value)}}</label>
        </div>
      </div>
      <div class="col-6">
        <label>上次修改者：</label>
        <br>
        <div class="mt-3 field">
          <label class="disable">{{(order_form.controls['updated_by'].value)}}</label>
          <label class="ml-2 disable">{{(order_form.controls['updated_at'].value)}}</label>
        </div>
      </div>
    </div>
    <div class="flex justify-content-end">
      <ng-container *ngIf="!showedit">
        <p-button label="新增" (click)="postOrderRequest()" styleClass="p-button-outlined p-button-info"></p-button>
      </ng-container>
      <ng-container *ngIf="showedit">
        <p-button label="儲存" (click)="patchOrderRequest(o_id)"
                  styleClass="p-button-outlined p-button-info"></p-button>
      </ng-container>
      <p-button label="取消" (click)="edit=false" styleClass="p-button-secondary ml-1"></p-button>
    </div>
  </p-dialog>
</form>
