@import 'src/app/app.component.scss';
input[formControlName="number"] {
  border: none;
  color: black;
  margin-left: -9px;
}
input[formControlName="created_by"] {
  border: none;
  color: black;
  margin-left: -9px;
}
input[formControlName="updated_by"] {
  border: none;
  color: black;
  margin-left: -9px;
}
input[formControlName="created_at"] {
  border: none;
  color: black;
  margin-left: -9px;
}
input[formControlName="updated_at"] {
  border: none;
  color: black;
  margin-left: -9px;
}
.required-star {
  color: red;
}
