<div class="flex justify-content-center">
  <div class="col-10">
    <p-card>
      <h2>線索</h2>
      <div class="flex justify-content-end">
        <span class="p-buttonset">
          <p-button (click)="showDialog('add')" label="新增" icon="pi pi-plus" styleClass="p-button-text"></p-button>
        </span>
      </div>
      <p-table [value]="lead">
        <ng-template pTemplate="header">
          <tr>
            <th>狀態</th>
            <th>姓名</th>
            <th>公司</th>
            <th>電話</th>
            <th>行動電話</th>
            <th>電子郵件</th>
            <th>LINE</th>
            <th>業務負責人</th>
            <th>更多</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-lead>
          <tr>
            <td><span pTooltip={{lead.stage}} tooltipPosition="top" [ngClass]="{
                'text-400': lead.stage === stage[0].name,
                'text-blue-300': lead.stage === stage[1].name,
                'text-yellow-300': lead.stage === stage[2].name,
                'text-orange-300': lead.stage === stage[3].name,
                'text-green-300': lead.stage === stage[4].name
            }" class="pi pi-circle-fill ml-2"></span>
            </td>
            <td>{{ lead.name }}</td>
            <td>{{ lead.account_name }}</td>
            <td>{{ lead.phone_number }}</td>
            <td>{{ lead.cell_phone }}</td>
            <td>{{ lead.email }}</td>
            <td>{{ lead.line }}</td>
            <td>{{ lead.owner }}</td>
            <td>
              <p-button icon="pi pi-ellipsis-h" (click)="menu.toggle($event);getLead(lead)"
                        styleClass="p-button-rounded p-button-secondary p-button-text"></p-button>
            </td>
            <!--            <td>-->
            <!--              <p-button icon="pi pi-eye" routerLink="/main/lead/view"-->
            <!--                        styleClass="p-button-rounded p-button-secondary p-button-text"></p-button>-->
            <!--            </td>-->
            <!--            <td>-->
            <!--              <p-button (click)="showDialog('edit',lead)" icon="pi pi-pencil"-->
            <!--                        styleClass="p-button-rounded p-button-secondary p-button-text"></p-button>-->
            <!--            </td>-->
          </tr>
        </ng-template>
      </p-table>
      <p-menu #menu [model]="items" [popup]="true"></p-menu>
      <div class="flex align-items-center mt-3 ml-4">
        <span class="text-400 pi pi-circle-fill mr-1"></span>
        <span>{{stage[0].name}}</span>
        <span class="text-blue-300 pi pi-circle-fill mr-1 ml-2"></span>
        <span>{{stage[1].name}}</span>
        <span class="text-yellow-300 pi pi-circle-fill mr-1 ml-2"></span>
        <span>{{stage[2].name}}</span>
        <span class="text-orange-300 pi pi-circle-fill mr-1 ml-2"></span>
        <span>{{stage[3].name}}</span>
        <span class="text-green-300 pi pi-circle-fill mr-1 ml-2"></span>
        <span>{{stage[4].name}}</span>
      </div>
    </p-card>
  </div>
</div>
<form [formGroup]="lead_form">
  <p-dialog [(visible)]="edit" header={{dialogHeader}}>
    <div class="grid">
      <div class="col-6">
        <div class="field">
          <label><span class="text-red-600">*</span>線索狀態</label>
          <p-dropdown placeholder="請選擇" [disabled]="true" optionLabel="name" [options]="stage"
                      formControlName="stage" appendTo="body" (onChange)="stageValue($event)"
                      [ngClass]="{'ng-dirty':lead_form.controls['stage'].hasError && lead_form.controls['stage'].touched}"
          ></p-dropdown>
        </div>
      </div>
      <div class="col-6">
        <div class="field">
          <label>業務負責人</label>
          <input pInputText formControlName="owner">
        </div>
      </div>
      <div class="col-12">
        <div class="field">
          <label><span class="text-red-600">*</span>公司</label>
          <input pInputText formControlName="account_name"
                 [ngClass]="{'ng-dirty':lead_form.controls['account_name'].hasError && lead_form.controls['account_name'].touched}">
        </div>
      </div>
      <div class="col-6">
        <div class="field">
          <label>姓名</label>
          <input pInputText formControlName="name">
        </div>
      </div>
      <div class="col-6">
        <div class="field">
          <label>職稱</label>
          <input pInputText formControlName="title">
        </div>
      </div>
      <div class="col-6">
        <div class="field">
          <label>行業</label>
          <p-dropdown placeholder="請選擇" [disabled]="true" [options]="industry" optionLabel="name"
                      (onChange)="industryValue($event)" formControlName="industry" appendTo="body"></p-dropdown>
        </div>
      </div>
      <div class="col-6">
        <div class="field">
          <label>電話</label>
          <input pInputText formControlName="phone_number">
        </div>
      </div>
      <div class="col-6">
        <div class="field">
          <label>行動電話</label>
          <input pInputText formControlName="cell_phone">
        </div>
      </div>
      <div class="col-6">
        <div class="field">
          <label>LINE</label>
          <input pInputText formControlName="line">
        </div>
      </div>
      <div class="col-12">
        <div class="field">
          <label>電子郵件</label>
          <input pInputText formControlName="email">
        </div>
      </div>
      <div class="col-6">
        <div class="field">
          <label>分級</label>
          <p-dropdown placeholder="請選擇" [disabled]="true" [options]="rating" optionLabel="name"
                      (onChange)="ratingValue($event)" formControlName="rating" appendTo="body"></p-dropdown>
        </div>
      </div>
      <div class="col-6">
        <div class="field">
          <label>線索來源</label>
          <p-dropdown placeholder="請選擇" [disabled]="true" [options]="lead_source" optionLabel="name"
                      (onChange)="leadSourceValue($event)" formControlName="lead_source" appendTo="body"></p-dropdown>
        </div>
      </div>
    </div>
    <ng-container *ngIf="dialogHeader === '編輯線索'">
      <p-divider></p-divider>
      <div class="grid">
        <div class="col-6">
          <label>建立者：</label>
        </div>
        <div class="col-6">
          <label>上次修改者：</label>
        </div>
        <div class="col-1">
          <input pInputText formControlName="created_by">
        </div>
        <div class="col-5">
          <input pInputText formControlName="created_at">
        </div>
        <div class="col-1">
          <input pInputText formControlName="updated_by">
        </div>
        <div class="col-5">
          <input pInputText formControlName="updated_at">
        </div>
      </div>
    </ng-container>
    <div class="flex justify-content-end">

      <ng-container *ngIf="dialogHeader === '編輯線索'">
        <p-button label="儲存" styleClass="p-button-outlined p-button-info"></p-button>
      </ng-container>
      <ng-container *ngIf="dialogHeader !== '編輯線索'">
        <p-button label="新增" styleClass="p-button-outlined p-button-info"></p-button>
      </ng-container>
      <p-button label="取消" (click)="edit=false" styleClass="p-button-secondary ml-1"></p-button>
    </div>
  </p-dialog>
</form>
